openapi: 3.0.3
info:
  title: DeFarm API Gateway
  description: '**Single entry point for all DeFarm services**


    The Gateway provides:

    - JWT-based authentication

    - Request routing to backend services

    - User context injection

    - Rate limiting


    ## Authentication


    Most endpoints require a JWT token in the Authorization header:

    ```

    Authorization: Bearer <access_token>

    ```


    ### Getting Started


    1. **Register**: POST `/auth/register`

    2. **Login**: POST `/auth/login` → Returns `access_token` and `refresh_token`

    3. **Use token**: Add `Authorization: Bearer <access_token>` to all `/api/*` requests

    4. **Refresh**: POST `/auth/refresh` with `refresh_token` when access token expires


    ### Token Lifetimes

    - **Access Token**: 15 minutes

    - **Refresh Token**: 30 days

    '
  version: 1.0.0
  contact:
    name: DeFarm Support
    email: support@defarm.com
servers:
- url: http://gateway.defarm.net:8080
  description: Production (Custom Domain)
- url: https://gateway-service-production-f54d.up.railway.app
  description: Production (Railway Domain)
- url: http://localhost:8000
  description: Local development
tags:
- name: Authentication
  description: User registration, login, and token management
- name: Circuits
  description: Multi-tenant data repositories with RBAC
- name: Items
  description: Agricultural items with traceability
- name: Events
  description: Item state changes and lifecycle events
- name: Audit
  description: Immutable audit trails
- name: DFID
  description: DeFarm Identifier generation and validation
- name: Health
  description: Service health checks
- name: items
  description: Item registry CRUD operations and bulk import
- name: workflows
  description: Item merge, split, unmerge, and relationship tracking
- name: circuits
  description: Circuit and member management
- name: events
  description: Event tracking and lifecycle management
- name: audit
  description: Immutable audit logs with hash chain verification
- name: admin
  description: Administrative operations and API key management
- name: webhooks
  description: Webhook subscriptions and delivery tracking
- name: activity
  description: Activity feeds, sessions, and user tracking
- name: snapshots
  description: Point-in-time snapshots with restore capabilities
- name: merkle
  description: Merkle tree construction and cryptographic verification
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from /auth/login
  schemas:
    Error:
      description: Standard error response with error code and message.
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          example: unauthorized
        message:
          type: string
          example: Invalid or expired token
        details:
          type: string
          nullable: true
          description: Optional detailed error context
    WorkspaceInfo:
      type: object
      required:
      - id
      - name
      - slug
      - tier
      - role
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        tier:
          type: string
        role:
          type: string
          enum:
          - viewer
          - editor
          - admin
          - owner
    UserInfo:
      type: object
      required:
      - id
      - email
      - workspace
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        workspace:
          $ref: '#/components/schemas/WorkspaceInfo'
    AuthResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
      - user
      properties:
        access_token:
          type: string
          description: JWT access token (expires in 15 minutes)
        refresh_token:
          type: string
          description: JWT refresh token (expires in 30 days)
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Access token lifetime in seconds
          example: 900
        user:
          $ref: '#/components/schemas/UserInfo'
    ActivityFeed:
      description: User activity entry for audit trail and activity feed display.
      type: object
      required:
      - id
      - actor_id
      - action
      - resource_type
      - description
      - is_public
      - created_at
      properties:
        action:
          type: string
        actor_id:
          type: string
          format: uuid
        actor_name:
          type: string
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
          format: uuid
        is_public:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_name:
          type: string
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
    ActivitySummary:
      description: Aggregated summary of activities by type and resource for reporting.
      type: object
      required:
      - id
      - summary_date
      - summary_type
      - action_counts
      - resource_counts
      - created_at
      properties:
        action_counts: {}
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        resource_counts: {}
        summary_date:
          type: string
          format: date
        summary_type:
          type: string
        user_id:
          type: string
          format: uuid
          nullable: true
    AddMemberRequest:
      description: Request payload to add a new member to a circuit. Requires user_id and role.
      type: object
      required:
      - user_id
      - role
      properties:
        added_by:
          type: string
          format: uuid
          nullable: true
        permissions:
          nullable: true
        role:
          type: string
          enum:
          - viewer
          - editor
          - admin
          - owner
        user_id:
          type: string
          format: uuid
    ApplyRetentionResponse:
      description: API response confirming retention policy application with affected snapshots count.
      type: object
      required:
      - policy_id
      - snapshots_affected
      properties:
        policy_id:
          type: string
          format: uuid
        snapshots_affected:
          type: integer
          format: int64
          minimum: 0
    AuditLog:
      description: Immutable audit log entry with hash chain linkage for tamper-proof record keeping.
      type: object
      required:
      - id
      - action
      - resource_type
      - created_at
      properties:
        action:
          type: string
        changes:
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        previous_hash:
          type: string
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
    AuditLogResponse:
      description: API response containing audit log details including actor, action, old/new values, and hash chain.
      type: object
      required:
      - id
      - action
      - resource_type
      - created_at
      properties:
        action:
          type: string
        changes:
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        previous_hash:
          type: string
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
    Circuit:
      description: |
        Multi-tenant data repository that serves as the primary permission boundary in DeFarm.
        Circuits isolate data by organization/workspace and provide RBAC access control for items, events, and audit logs.
      type: object
      required:
      - id
      - name
      - circuit_type
      - visibility
      - owner_id
      - status
      - is_archived
      - created_at
      - updated_at
      - is_published
      - discovery_enabled
      - searchable
      - featured
      - view_count
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        created_at:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        discovery_enabled:
          type: boolean
        featured:
          type: boolean
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        is_published:
          type: boolean
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        public_banner_url:
          type: string
          nullable: true
        public_contact_email:
          type: string
          nullable: true
        public_description:
          type: string
          nullable: true
        public_logo_url:
          type: string
          nullable: true
        public_website:
          type: string
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true
        published_by:
          type: string
          format: uuid
          nullable: true
        searchable:
          type: boolean
        settings:
          nullable: true
        slug:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
          - local
          - merged
          - split
          - local
          - merged
          - split
          enum:
          - active
          - inactive
          - archived
          enum:
          - active
          - inactive
          - archived
        unpublished_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
        view_count:
          type: integer
          format: int64
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
        workspace_id:
          type: string
          format: uuid
          nullable: true
    CircuitMember:
      description: Represents a user's membership in a circuit with role and permissions.
      type: object
      required:
      - id
      - circuit_id
      - user_id
      - role
      - status
      - joined_at
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        custom_permissions:
          nullable: true
        id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        permissions:
          nullable: true
        removed_at:
          type: string
          format: date-time
          nullable: true
        role:
          type: string
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
          enum:
          - pending
          - processing
          - completed
          - failed
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    CircuitMemberResponse:
      description: API response containing circuit member details including user info, role, and permissions.
      type: object
      required:
      - circuit_id
      - user_id
      - role
      - joined_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        permissions:
          nullable: true
        role:
          type: string
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    CircuitResponse:
      description: API response containing full circuit details with metadata, members count, and permissions.
      type: object
      required:
      - id
      - name
      - circuit_type
      - visibility
      - owner_id
      - status
      - is_archived
      - created_at
      - updated_at
      properties:
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        created_at:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        settings:
          nullable: true
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
    ComparisonResponse:
      description: Result of comparing two resources (snapshots, items, etc.).
      type: object
      required:
      - id
      - snapshot_a_id
      - snapshot_b_id
      - comparison_type
      - diff_data
      - created_at
      properties:
        comparison_type:
          type: string
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
        created_at:
          type: string
          format: date-time
        diff_data: {}
        id:
          type: string
          format: uuid
        snapshot_a_id:
          type: string
          format: uuid
        snapshot_b_id:
          type: string
          format: uuid
        summary:
          nullable: true
    CreateActivityInput:
      description: Request payload to create a new activity entry.
      type: object
      required:
      - actor_id
      - action
      - resource_type
      - description
      - is_public
      properties:
        action:
          type: string
        actor_id:
          type: string
          format: uuid
        actor_name:
          type: string
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        description:
          type: string
        is_public:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_name:
          type: string
          nullable: true
        resource_type:
          type: string
    CreateApiKeyRequest:
      description: Request payload to create API key for programmatic access.
      type: object
      required:
      - key_name
      - circuit_id
      properties:
        circuit_id:
          type: string
          format: uuid
          description: Circuit ID this key grants access to
        description:
          type: string
          description: Optional description of key purpose
          nullable: true
        expires_in_days:
          type: integer
          format: int64
          description: 'Number of days until expiration (default: never expires)'
          nullable: true
        key_name:
          type: string
          description: Human-readable name for the API key
    CreateApiKeyResponse:
      description: API response containing new API key (only shown once for security).
      type: object
      required:
      - id
      - key_name
      - circuit_id
      - api_key
      - created_at
      - message
      properties:
        api_key:
          type: string
          description: The actual API key (ONLY shown once!)
        circuit_id:
          type: string
          format: uuid
          description: Circuit this key grants access to
        created_at:
          type: string
          description: Creation timestamp (RFC3339)
        expires_at:
          type: string
          description: Expiration timestamp (RFC3339)
          nullable: true
        id:
          type: string
          format: uuid
          description: Unique identifier for this API key record
        key_name:
          type: string
          description: Name of the API key
        message:
          type: string
          description: Important message about saving the key
    CreatePartnerApiKeyRequest:
      description: Request payload to create a partner API key.
      type: object
      required:
      - key_name
      - circuit_id
      properties:
        key_name:
          type: string
          description: Human-readable name for the API key
        circuit_id:
          type: string
          format: uuid
          description: Circuit ID this key grants access to
        description:
          type: string
          description: Optional description of key purpose
          nullable: true
        expires_in_days:
          type: integer
          format: int64
          description: Number of days until expiration (default 365, max 730)
          nullable: true
    PartnerApiKeyResponse:
      description: Partner API key metadata (key value shown only on creation).
      type: object
      required:
      - id
      - key_name
      - circuit_id
      - is_active
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this API key record
        key_name:
          type: string
          description: Name of the API key
        circuit_id:
          type: string
          format: uuid
          description: Circuit this key grants access to
        api_key:
          type: string
          description: The actual API key (only shown once at creation)
          nullable: true
        description:
          type: string
          description: Description of the key's purpose
          nullable: true
        is_active:
          type: boolean
          description: Whether the key is currently active
        rate_limit_per_minute:
          type: integer
          format: int32
          nullable: true
        rate_limit_per_day:
          type: integer
          format: int32
          nullable: true
        created_at:
          type: string
          description: Creation timestamp (RFC3339)
        last_used_at:
          type: string
          description: Last time this key was used (RFC3339)
          nullable: true
        expires_at:
          type: string
          description: Expiration timestamp (RFC3339)
          nullable: true
    CreatePartnerApiKeyResponse:
      description: API response containing new partner API key.
      type: object
      required:
      - key
      - message
      properties:
        key:
          $ref: '#/components/schemas/PartnerApiKeyResponse'
        message:
          type: string
          description: Important security message
    ApiKeyMetricsResponse:
      description: Usage metrics for an API key.
      type: object
      required:
      - api_key_id
      - requests_total
      - requests_last_24h
      - errors_last_24h
      properties:
        api_key_id:
          type: string
          format: uuid
        requests_total:
          type: integer
          format: int64
        requests_last_24h:
          type: integer
          format: int64
        errors_last_24h:
          type: integer
          format: int64
        last_used_at:
          type: string
          description: Last time this key was used (RFC3339)
          nullable: true
        rate_limit_per_minute:
          type: integer
          format: int32
          nullable: true
        rate_limit_per_day:
          type: integer
          format: int32
          nullable: true
    CreateCanonicalIdentifierRequest:
      description: Request payload to create a canonical identifier type.
      type: object
      required:
      - value_chain
      - identifier_type
      properties:
        value_chain:
          type: string
        identifier_type:
          type: string
    UpdateCanonicalIdentifierRequest:
      description: Request payload to enable or disable a canonical identifier type.
      type: object
      required:
      - is_active
      properties:
        is_active:
          type: boolean
    CanonicalIdentifierResponse:
      description: Canonical identifier type configuration.
      type: object
      required:
      - id
      - value_chain
      - identifier_type
      - is_active
      - created_at
      properties:
        id:
          type: string
          format: uuid
        value_chain:
          type: string
        identifier_type:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
    CreateCircuitRequest:
      description: Request payload to create a new circuit. Requires name, circuit_type, and workspace_id.
      type: object
      required:
      - name
      - circuit_type
      - visibility
      - owner_id
      properties:
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        description:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        settings:
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
    CreateComparisonRequest:
      description: Request payload to create a comparison between two resources.
      type: object
      required:
      - snapshot_b_id
      - comparison_type
      properties:
        comparison_type:
          type: string
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
        snapshot_b_id:
          type: string
          format: uuid
    CreateItemRequest:
      description: Request payload to create a new item with automatic DFID generation. Requires value_chain, country, and circuit_id.
      type: object
      required:
      - value_chain
      - country
      - year
      - circuit_id
      properties:
        circuit_id:
          type: string
          format: uuid
        country:
          type: string
        ip_address:
          type: string
          nullable: true
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierInput'
          nullable: true
        metadata:
          nullable: true
        owner_id:
          type: string
          format: uuid
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    IdentifierInput:
      description: Identifier provided by client (canonical or contextual).
      type: object
      required:
      - identifier_type
      - value
      properties:
        identifier_type:
          type: string
        value:
          type: string
        is_canonical:
          type: boolean
          nullable: true
    IdentifierResponse:
      description: Identifier metadata stored for an item.
      type: object
      required:
      - identifier_type
      - value
      - is_canonical
      properties:
        identifier_type:
          type: string
        value:
          type: string
        is_canonical:
          type: boolean
    CreateMerkleTreeRequest:
      description: Request payload to create merkle tree for snapshot verification.
      type: object
      required:
      - tree_type
      - resource_type
      - leaf_data
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        leaf_data:
          type: array
          items: {}
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
    CreateRestorationRequest:
      description: Request payload to restore data from snapshot.
      type: object
      required:
      - restored_by
      - restoration_type
      properties:
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
          enum:
          - full
          - partial
          - merge
          - rollback
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    CreateSnapshotRequest:
      description: Request payload to create a new snapshot. Requires resource_type and resource_id.
      type: object
      required:
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    CreateWebhookInput:
      description: Request payload to create a new webhook. Requires URL and event types.
      type: object
      required:
      - circuit_id
      - name
      - url
      - events
      - created_by
      properties:
        circuit_id:
          type: string
          format: uuid
        created_by:
          type: string
          format: uuid
        events:
          type: array
          items:
            type: string
        headers:
          nullable: true
        name:
          type: string
        retry_config:
          allOf:
          - $ref: '#/components/schemas/WebhookRetryConfig'
          nullable: true
        secret:
          type: string
          nullable: true
        url:
          type: string
    ErrorResponse:
      description: API error response with detailed error information.
      type: object
      required:
      - error
      - message
      properties:
        details:
          type: string
          nullable: true
        error:
          type: string
        message:
          type: string
    Event:
      description: Represents a lifecycle event for an item (created, updated, transferred, certified, etc.).
      type: object
      required:
      - id
      - event_type
      - source_type
      - source_id
      - payload
      - status
      - created_at
      - visibility
      - is_duplicate
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        content_hash:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        encrypted_payload:
          type: string
          format: binary
          nullable: true
        encryption_key_id:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        event_type:
          type: string
        id:
          type: string
          format: uuid
        is_duplicate:
          type: boolean
        item_id:
          type: string
          format: uuid
          nullable: true
        metadata:
          nullable: true
        original_event_id:
          type: string
          format: uuid
          nullable: true
        payload: {}
        processed_at:
          type: string
          format: date-time
          nullable: true
        source_id:
          type: string
          format: uuid
        source_type:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
        visible_to_roles:
          nullable: true
    EventResponse:
      description: API response containing full event details including type, timestamp, actor, and metadata.
      type: object
      required:
      - id
      - event_type
      - source_type
      - source_id
      - payload
      - status
      - created_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        event_type:
          type: string
        id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
          nullable: true
        metadata:
          nullable: true
        payload: {}
        processed_at:
          type: string
          format: date-time
          nullable: true
        source_id:
          type: string
          format: uuid
        source_type:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        user_id:
          type: string
          format: uuid
          nullable: true
    GenerateProofRequest:
      description: Request payload to generate cryptographic proof for data.
      type: object
      required:
      - leaf_data
      properties:
        leaf_data: {}
    HashChainVerificationResponse:
      description: Result of audit log hash chain integrity verification.
      type: object
      required:
      - valid
      - logs_checked
      - message
      properties:
        logs_checked:
          type: integer
          minimum: 0
        message:
          type: string
        valid:
          type: boolean
    HealthResponse:
      description: System health status response including component statuses.
      type: object
      required:
      - status
      - database
      - redis
      - timestamp
      properties:
        database:
          $ref: '#/components/schemas/HealthStatus'
        redis:
          $ref: '#/components/schemas/HealthStatus'
        status:
          type: string
        timestamp:
          type: string
    HealthStatus:
      description: Individual component health status (database, redis, etc.).
      type: object
      required:
      - connected
      - latency_ms
      properties:
        connected:
          type: boolean
        latency_ms:
          type: integer
          format: int64
          minimum: 0
    IngestionReceipt:
      description: Receipt for bulk ingestion operation with success/failure counts.
      type: object
      description: Receipt returned after ingestion completes
      required:
      - receipt_id
      - status
      - processing_time_ms
      - summary
      properties:
        error_message:
          type: string
          description: Error message if status is "failed" or "partial"
          nullable: true
        processing_time_ms:
          type: integer
          format: int64
          description: Processing time in milliseconds
          minimum: 0
        receipt_id:
          type: string
          format: uuid
          description: Unique receipt ID
        status:
          type: string
          description: 'Status: "processing", "completed", "failed", "partial"'
        summary:
          $ref: '#/components/schemas/IngestionSummary'
    IngestionSummary:
      type: object
      description: Statistics for a completed ingestion
      required:
      - rows_total
      - rows_processed
      - rows_failed
      - items_created
      - items_updated
      - events_created
      - identifiers_resolved
      - unclassified_fields
      properties:
        events_created:
          type: integer
          description: Events created
          minimum: 0
        identifiers_resolved:
          type: object
          description: Count of each identifier type resolved
          additionalProperties:
            type: integer
            minimum: 0
        items_created:
          type: integer
          description: New items created
          minimum: 0
        items_updated:
          type: integer
          description: Existing items updated
          minimum: 0
        rows_failed:
          type: integer
          description: Rows that failed
          minimum: 0
        rows_processed:
          type: integer
          description: Rows successfully processed
          minimum: 0
        rows_total:
          type: integer
          description: Total rows in CSV
          minimum: 0
        unclassified_fields:
          type: array
          items:
            type: string
          description: CSV fields that were not recognized
    Item:
      description: Represents a physical or digital asset in the supply chain, uniquely identified by a DFID.
      type: object
      required:
      - id
      - dfid
      - value_chain
      - country
      - year
      - status
      - registered_at
      - last_updated_at
      - created_at
      - updated_at
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        country:
          type: string
        created_at:
          type: string
          format: date-time
        dfid:
          type: string
        id:
          type: string
          format: uuid
        last_updated_at:
          type: string
          format: date-time
        local_id:
          type: string
          format: uuid
          nullable: true
        merged_into:
          type: string
          nullable: true
        metadata:
          nullable: true
        owner_id:
          type: string
          format: uuid
          nullable: true
        registered_at:
          type: string
          format: date-time
        split_from:
          type: string
          nullable: true
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    ItemResponse:
      description: API response containing full item details including DFID, status, metadata, and relationships.
      type: object
      required:
      - id
      - dfid
      - value_chain
      - country
      - year
      - status
      - registered_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        country:
          type: string
        dfid:
          type: string
        id:
          type: string
          format: uuid
        metadata:
          nullable: true
        owner_id:
          type: string
          format: uuid
          nullable: true
        registered_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
        updated_at:
          type: string
          format: date-time
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    ItemDetailsResponse:
      description: Item details with identifiers and events.
      type: object
      required:
      - item
      - identifiers
      - events
      properties:
        item:
          $ref: '#/components/schemas/ItemResponse'
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierResponse'
        canonical_identifier:
          $ref: '#/components/schemas/IdentifierResponse'
          nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    CreateItemResponse:
      description: Item creation response with identifiers, events, and deduplication status.
      type: object
      required:
      - item
      - identifiers
      - events
      - was_deduplicated
      properties:
        item:
          $ref: '#/components/schemas/ItemResponse'
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierResponse'
        canonical_identifier:
          $ref: '#/components/schemas/IdentifierResponse'
          nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        was_deduplicated:
          type: boolean
    ListAuditLogsResponse:
      description: Paginated API response containing list of audit logs with hash chain integrity.
      type: object
      required:
      - logs
      - count
      properties:
        count:
          type: integer
          minimum: 0
        logs:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResponse'
    ListCircuitsResponse:
      description: Paginated API response containing list of circuits with metadata.
      type: object
      required:
      - circuits
      - count
      properties:
        circuits:
          type: array
          items:
            $ref: '#/components/schemas/CircuitResponse'
        count:
          type: integer
          minimum: 0
    ListEventsResponse:
      description: Paginated API response containing list of lifecycle events with filters.
      type: object
      required:
      - events
      - count
      properties:
        count:
          type: integer
          minimum: 0
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventResponse'
    ListItemsResponse:
      description: Paginated API response containing list of items with DFIDs and metadata.
      type: object
      required:
      - items
      - count
      properties:
        count:
          type: integer
          minimum: 0
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemResponse'
    ListMembersResponse:
      description: API response containing list of circuit members with roles and permissions.
      type: object
      required:
      - members
      - count
      properties:
        count:
          type: integer
          minimum: 0
        members:
          type: array
          items:
            $ref: '#/components/schemas/CircuitMemberResponse'
    ListMerkleTreesResponse:
      description: Paginated API response containing list of merkle trees with root hashes.
      type: object
      required:
      - trees
      - count
      properties:
        count:
          type: integer
          minimum: 0
        trees:
          type: array
          items:
            $ref: '#/components/schemas/MerkleTreeResponse'
    ListSnapshotsResponse:
      description: Paginated API response containing list of snapshots with metadata.
      type: object
      required:
      - snapshots
      - count
      properties:
        count:
          type: integer
          minimum: 0
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/SnapshotResponse'
    MergeItemsRequest:
      description: Request payload to merge two items. Requires secondary_dfid and merge strategy.
      type: object
      required:
      - secondary_dfid
      - strategy
      properties:
        secondary_dfid:
          type: string
          description: DFID of the secondary item to merge into the primary
        strategy:
          type: string
          description: 'Merge strategy: "append", "keep_first", or "overwrite"'
        user_id:
          type: string
          format: uuid
          description: User performing the merge operation
          nullable: true
    MergeItemsResponse:
      description: API response confirming item merge with primary and secondary DFIDs.
      type: object
      required:
      - merged_item
      - message
      properties:
        merged_item:
          $ref: '#/components/schemas/Item'
        message:
          type: string
          description: Success message
    ItemRelationshipRecord:
      description: Relationship record between two items (merge/split/related).
      type: object
      required:
      - id
      - primary_item_id
      - related_item_id
      - relationship_type
      - created_at
      properties:
        id:
          type: string
          format: uuid
        primary_item_id:
          type: string
          format: uuid
        related_item_id:
          type: string
          format: uuid
        relationship_type:
          type: string
          enum:
          - duplicate
          - derived
          - related
        confidence_score:
          type: number
          format: double
          nullable: true
        created_at:
          type: string
          format: date-time
    MerkleNode:
      description: Node in the merkle tree representing hashed data with left/right children.
      type: object
      required:
      - id
      - tree_id
      - node_hash
      - node_type
      - level
      - position
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        data_hash:
          type: string
          nullable: true
        data_reference:
          nullable: true
        id:
          type: string
          format: uuid
        left_child_id:
          type: string
          format: uuid
          nullable: true
        level:
          type: integer
          format: int32
        node_hash:
          type: string
        node_type:
          type: string
        parent_id:
          type: string
          format: uuid
          nullable: true
        position:
          type: integer
          format: int32
        right_child_id:
          type: string
          format: uuid
          nullable: true
        tree_id:
          type: string
          format: uuid
    MerkleProof:
      description: Cryptographic proof path from leaf to root for data verification.
      type: object
      required:
      - id
      - tree_id
      - leaf_hash
      - leaf_data
      - proof_path
      - proof_positions
      - root_hash
      - is_valid
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_data: {}
        leaf_hash:
          type: string
        proof_path: {}
        proof_positions: {}
        root_hash:
          type: string
        tree_id:
          type: string
          format: uuid
        verified_at:
          type: string
          format: date-time
          nullable: true
    MerkleTree:
      description: Cryptographic data structure using BLAKE3 hashing for snapshot integrity verification.
      type: object
      required:
      - id
      - tree_type
      - resource_type
      - root_hash
      - height
      - leaf_count
      - hash_algorithm
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash_algorithm:
          type: string
        height:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        leaf_count:
          type: integer
          format: int32
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
        root_hash:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
        updated_at:
          type: string
          format: date-time
    MerkleTreeResponse:
      description: API response containing merkle tree details including root hash and leaf count.
      type: object
      required:
      - id
      - tree_type
      - resource_type
      - root_hash
      - height
      - leaf_count
      - hash_algorithm
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash_algorithm:
          type: string
        height:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        leaf_count:
          type: integer
          format: int32
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
        root_hash:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
        updated_at:
          type: string
          format: date-time
    MerkleVerification:
      description: Result of verifying data against merkle tree root hash.
      type: object
      required:
      - id
      - tree_id
      - verification_type
      - leaf_hash
      - expected_root
      - actual_root
      - is_valid
      - created_at
      properties:
        actual_root:
          type: string
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        expected_root:
          type: string
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_hash:
          type: string
        proof_id:
          type: string
          format: uuid
          nullable: true
        tree_id:
          type: string
          format: uuid
        verification_time_ms:
          type: integer
          format: int32
          nullable: true
        verification_type:
          type: string
        verified_by:
          type: string
          format: uuid
          nullable: true
    ProofResponse:
      description: Cryptographic proof response for data verification.
      type: object
      required:
      - id
      - tree_id
      - leaf_hash
      - leaf_data
      - proof_path
      - proof_positions
      - root_hash
      - is_valid
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_data: {}
        leaf_hash:
          type: string
        proof_path: {}
        proof_positions: {}
        root_hash:
          type: string
        tree_id:
          type: string
          format: uuid
        verified_at:
          type: string
          format: date-time
          nullable: true
    RecentActivity:
      description: Recent activity entries for dashboard display.
      type: object
      required:
      - id
      - user_id
      - activity_type
      - activity_count
      - last_activity_at
      - created_at
      properties:
        activity_count:
          type: integer
          format: int32
        activity_type:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        last_activity_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    RestorationResponse:
      description: Result of data restoration from snapshot or backup.
      type: object
      required:
      - id
      - snapshot_id
      - restored_by
      - restoration_type
      - status
      - created_at
      properties:
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        snapshot_id:
          type: string
          format: uuid
        status:
          type: string
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    RetentionPolicyResponse:
      description: API response containing retention policy details and affected snapshots count.
      type: object
      required:
      - id
      - snapshot_type
      - retention_days
      - auto_archive
      - is_active
      - created_at
      - updated_at
      properties:
        auto_archive:
          type: boolean
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        max_snapshots:
          type: integer
          format: int32
          nullable: true
        resource_type:
          type: string
          nullable: true
        retention_days:
          type: integer
          format: int32
        snapshot_type:
          type: string
        updated_at:
          type: string
          format: date-time
    Snapshot:
      description: Point-in-time capture of item or circuit state for versioning and rollback.
      type: object
      required:
      - id
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      - created_at
      - is_archived
      - checksum
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        checksum:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    SnapshotComparison:
      description: Comparison result between two snapshots showing differences and changes.
      type: object
      required:
      - id
      - snapshot_a_id
      - snapshot_b_id
      - comparison_type
      - diff_data
      - created_at
      properties:
        comparison_type:
          type: string
        created_at:
          type: string
          format: date-time
        diff_data: {}
        id:
          type: string
          format: uuid
        snapshot_a_id:
          type: string
          format: uuid
        snapshot_b_id:
          type: string
          format: uuid
        summary:
          nullable: true
    SnapshotResponse:
      description: API response containing snapshot details including data, merkle root, and retention policy.
      type: object
      required:
      - id
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      - created_at
      - is_archived
      - checksum
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        checksum:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    SnapshotRestoration:
      description: Result of restoring data from a snapshot including affected resources.
      type: object
      required:
      - id
      - snapshot_id
      - restored_by
      - restoration_type
      - status
      - created_at
      properties:
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        snapshot_id:
          type: string
          format: uuid
        status:
          type: string
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    SnapshotRetentionPolicy:
      description: Policy defining how long snapshots are retained before automatic deletion.
      type: object
      required:
      - id
      - snapshot_type
      - retention_days
      - auto_archive
      - is_active
      - created_at
      - updated_at
      properties:
        auto_archive:
          type: boolean
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        max_snapshots:
          type: integer
          format: int32
          nullable: true
        resource_type:
          type: string
          nullable: true
        retention_days:
          type: integer
          format: int32
        snapshot_type:
          type: string
        updated_at:
          type: string
          format: date-time
    SplitItemRequest:
      description: Request payload to split an item into two. Creates new item with new DFID.
      type: object
      required:
      - value_chain
      - country
      - year
      - metadata
      properties:
        country:
          type: string
          description: Country code for the new item
        metadata:
          description: Metadata for the new item
        user_id:
          type: string
          format: uuid
          description: User performing the split operation
          nullable: true
        value_chain:
          type: string
          description: Value chain for the new item
        year:
          type: integer
          format: int32
          description: Year for the new item
    SplitItemResponse:
      description: API response containing original DFID and new DFID after split operation.
      type: object
      required:
      - source_item
      - new_item
      - message
      properties:
        message:
          type: string
          description: Success message
        new_item:
          $ref: '#/components/schemas/Item'
        source_item:
          $ref: '#/components/schemas/Item'
    TrustLevel:
      type: string
      description: Trust level of the data source for conflict resolution
      enum:
      - SanitaryAgency
      - Certifier
      - Processor
      - Producer
      - Unknown
    UnmergeItemRequest:
      description: Request payload to restore a previously merged item. Reverses merge operation.
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          description: User performing the unmerge operation
          nullable: true
    UnmergeItemResponse:
      description: API response confirming unmerge with restored item DFID and status.
      type: object
      required:
      - restored_item
      - message
      properties:
        message:
          type: string
          description: Success message
        restored_item:
          $ref: '#/components/schemas/Item'
    UpdateCircuitRequest:
      description: Request payload to update circuit details. Allows changing name, description, metadata, and status.
      type: object
      properties:
        description:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        name:
          type: string
          nullable: true
        settings:
          nullable: true
        status:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
          nullable: true
    UpdateEventStatusRequest:
      description: Request payload to update event processing status (pending, processing, completed, failed).
      type: object
      required:
      - status
      properties:
        error_message:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - processing
          - completed
          - failed
    UpdateItemRequest:
      description: Request payload to update item metadata, tags, and status. DFID and circuit_id are immutable.
      type: object
      required:
      - metadata
      properties:
        ip_address:
          type: string
          nullable: true
        metadata: {}
        user_id:
          type: string
          format: uuid
          nullable: true
    UpdateItemStatusRequest:
      description: Request payload to update item lifecycle status (pending, active, inactive, archived).
      type: object
      required:
      - status
      properties:
        ip_address:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
        user_id:
          type: string
          format: uuid
          nullable: true
    UpdateMemberRequest:
      description: Request payload to update a member's role or custom permissions in a circuit.
      type: object
      properties:
        permissions:
          nullable: true
        role:
          type: string
          nullable: true
        updated_by:
          type: string
          format: uuid
          nullable: true
    UpdateRestorationStatusRequest:
      description: Request payload to update restoration operation status.
      type: object
      required:
      - status
      properties:
        error_message:
          type: string
          nullable: true
        status:
          type: string
    UpdateWebhookInput:
      description: Request payload to update webhook configuration including URL, events, and retry settings.
      type: object
      properties:
        events:
          type: array
          items:
            type: string
          nullable: true
        headers:
          nullable: true
        is_active:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        retry_config:
          allOf:
          - $ref: '#/components/schemas/WebhookRetryConfig'
          nullable: true
        secret:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    UserSession:
      description: User session information including login time and activity.
      type: object
      required:
      - id
      - user_id
      - started_at
      - last_activity_at
      - is_active
      properties:
        ended_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        is_active:
          type: boolean
        last_activity_at:
          type: string
          format: date-time
        session_token:
          type: string
          nullable: true
        started_at:
          type: string
          format: date-time
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
    VerificationHistoryResponse:
      description: History of verification attempts with timestamps and results.
      type: object
      required:
      - verifications
      - count
      properties:
        count:
          type: integer
          minimum: 0
        verifications:
          type: array
          items:
            $ref: '#/components/schemas/MerkleVerification'
    VerificationResponse:
      description: Result of cryptographic verification with validity status.
      type: object
      required:
      - is_valid
      - computed_root
      - expected_root
      properties:
        computed_root:
          type: string
        expected_root:
          type: string
        is_valid:
          type: boolean
    VerifyProofRequest:
      description: Request payload to verify cryptographic proof against data.
      type: object
      required:
      - leaf_hash
      - proof_path
      - proof_positions
      - expected_root
      properties:
        expected_root:
          type: string
        leaf_hash:
          type: string
        proof_path:
          type: array
          items:
            type: string
        proof_positions:
          type: array
          items:
            type: integer
            format: int32
    Webhook:
      description: HTTP callback configuration for receiving real-time event notifications.
      type: object
      required:
      - id
      - circuit_id
      - name
      - url
      - events
      - is_active
      - created_by
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        events: {}
        headers:
          nullable: true
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        name:
          type: string
        retry_config:
          nullable: true
        secret:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
        url:
          type: string
    WebhookDelivery:
      description: Record of webhook delivery attempt including status, response, and retry count.
      type: object
      required:
      - id
      - webhook_id
      - event_id
      - attempt_number
      - status
      - request_body
      - created_at
      properties:
        attempt_number:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
        event_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        next_retry_at:
          type: string
          format: date-time
          nullable: true
        request_body: {}
        request_headers:
          nullable: true
        response_body:
          type: string
          nullable: true
        response_headers:
          nullable: true
        response_status_code:
          type: integer
          format: int32
          nullable: true
        status:
          type: string
        webhook_id:
          type: string
          format: uuid
    WebhookRetryConfig:
      description: Retry configuration for failed webhook deliveries (max attempts, backoff strategy).
      type: object
      required:
      - max_retries
      - retry_delay
      properties:
        max_retries:
          type: integer
          format: int32
        retry_delay:
          type: integer
          format: int32
    WebhookStats:
      description: Statistics for webhook deliveries including success rate and failure count.
      type: object
      required:
      - webhook_id
      - total_deliveries
      - successful_deliveries
      - failed_deliveries
      - updated_at
      properties:
        average_response_time_ms:
          type: integer
          format: int32
          nullable: true
        failed_deliveries:
          type: integer
          format: int64
        last_delivery_at:
          type: string
          format: date-time
          nullable: true
        last_failure_at:
          type: string
          format: date-time
          nullable: true
        last_success_at:
          type: string
          format: date-time
          nullable: true
        successful_deliveries:
          type: integer
          format: int64
        total_deliveries:
          type: integer
          format: int64
        updated_at:
          type: string
          format: date-time
        webhook_id:
          type: string
          format: uuid
paths:
  /health:
    get:
      tags:
      - Health
      summary: Gateway health check
      description: Check if the gateway is running
      responses:
        '200':
          description: Gateway is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    example: gateway-service
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
  /auth/register:
    post:
      tags:
      - Authentication
      summary: Register a new user
      description: |
        Create a new user account in the DeFarm platform.

        **What it does:**
        - Creates a new user with email/password credentials
        - Automatically creates a default workspace for the user
        - Assigns the user as workspace owner
        - Generates initial authentication tokens

        **Requirements:**
        - Valid email address (must be unique)
        - Strong password (minimum 8 characters)
        - Full name for identification

        **Response:**
        - User profile with workspace information
        - Access token (JWT, expires in 15 minutes)
        - Refresh token (expires in 30 days)

        **Use cases:**
        - New farmer/organization onboarding
        - Team member registration
        - API client setup

        **Example:**
        ```json
        POST /auth/register
        {
          "email": "farmer@example.com",
          "password": "SecurePass123!",
          "full_name": "João Silva"
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              - full_name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePassword123!
                full_name:
                  type: string
                  example: John Doe
                name:
                  type: string
                  deprecated: true
                  description: Deprecated alias for full_name
                workspace_slug:
                  type: string
                  nullable: true
                  description: Optional custom workspace slug
                workspace_name:
                  type: string
                  nullable: true
                  description: Optional custom workspace name
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
      - Authentication
      summary: Login with email and password
      description: |
        Authenticate with email and password to obtain JWT tokens.

        **What it does:**
        - Validates credentials against database
        - Generates fresh access and refresh tokens
        - Returns user profile and workspace information
        - Tracks login session for activity monitoring

        **Token Lifetimes:**
        - **Access Token**: 15 minutes (use for API requests)
        - **Refresh Token**: 30 days (use to get new access tokens)

        **Security:**
        - Passwords are hashed with bcrypt
        - Failed login attempts are rate-limited
        - Tokens are signed with HS256 (configurable to RS256)

        **Response includes:**
        - User ID, email, full name, avatar
        - Workspace ID, name, slug, tier, and user's role
        - Both access and refresh tokens

        **Example:**
        ```json
        POST /auth/login
        {
          "email": "farmer@example.com",
          "password": "SecurePass123!"
        }

        Response:
        {
          "access_token": "eyJ0eXAiOiJKV1QiLCJhbGc...",
          "refresh_token": "28214fc8c04cba687dc7...",
          "token_type": "Bearer",
          "expires_in": 900,
          "user": {
            "id": "40a66997-b090-...",
            "email": "farmer@example.com",
            "workspace": { ... }
          }
        }
        ```

        **Next step:** Add `Authorization: Bearer <access_token>` header to all `/api/*` requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: SecurePassword123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh access token
      description: |
        Exchange a refresh token for a new access token.

        **When to use:**
        - Access token expired (returns 401 Unauthorized)
        - Before token expires (proactive refresh)
        - On app startup if refresh token is still valid

        **How it works:**
        1. Send refresh token in request body
        2. Backend validates refresh token signature and expiration
        3. If valid, generates new access token (15 min lifetime)
        4. Optionally rotates refresh token for enhanced security

        **Best practices:**
        - Store refresh token securely (httpOnly cookie or encrypted storage)
        - Never send refresh token to third parties
        - Refresh proactively before access token expires
        - Handle 401 errors by attempting refresh before re-login

        **Example:**
        ```json
        POST /auth/refresh
        {
          "refresh_token": "28214fc8c04cba687dc778e6d8a1e8e2..."
        }

        Response:
        {
          "access_token": "eyJ0eXAiOiJKV1QiLCJhbGc...",
          "expires_in": 900
        }
        ```

        **Error handling:**
        - 401: Refresh token expired → redirect to login
        - 400: Invalid token format → redirect to login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
      - Authentication
      summary: Logout (revoke refresh token)
      description: |
        Invalidate current session and revoke tokens.

        **What it does:**
        - Marks refresh token as revoked in database
        - Ends current user session
        - Tracks logout event in activity log
        - Clears any server-side session data

        **Client responsibilities:**
        - Delete stored tokens from local storage
        - Clear any cached user data
        - Redirect to login page
        - Remove Authorization headers from future requests

        **Security notes:**
        - Access tokens remain valid until expiration (15 min)
        - Refresh token is immediately revoked and cannot be used
        - Use this for explicit user logout or security incidents

        **Example:**
        ```json
        POST /auth/logout
        Authorization: Bearer <access_token>
        ```

        **Response:** 204 No Content (success)
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '204':
          description: Successfully logged out
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/circuits:
    get:
      tags:
      - circuits
      summary: GET /circuits?name=...&owner_id=...
      description: |
        List circuits (permission-based data repositories) with optional filters.

        **What is a Circuit:**
        A circuit is a multi-tenant data repository that isolates data by organization/workspace.
        It serves as the primary permission boundary in DeFarm's RBAC system.

        **What it does:**
        - Lists all circuits the authenticated user has access to
        - Supports filtering by owner, organization, type, and status
        - Returns paginated results (limit/offset)
        - Includes circuit metadata, member count, and permissions

        **RBAC Requirements:**
        - User must have `read_circuits` permission in at least one circuit
        - Only returns circuits where user is a member
        - Circuit owners see all fields, members see limited fields

        **Common filters:**
        - `owner_id`: Filter by circuit owner UUID
        - `organization_id`: Filter by organization
        - `circuit_type`: Filter by type (private, shared, public, enterprise)
        - `status`: Filter by status (active, inactive, archived)
        - `limit/offset`: Pagination (default: 50 per page)

        **Use cases:**
        - Dashboard: List user's accessible circuits
        - Admin panel: Organization-wide circuit management
        - API integration: Discover available data repositories

        **Example:**
        ```
        GET /api/circuits?organization_id=abc123&status=active&limit=20
        Authorization: Bearer <access_token>
        ```
      operationId: list_circuits
      parameters:
      - name: owner_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: organization_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: circuit_type
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: List of circuits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCircuitsResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - circuits
      summary: POST /circuits
      description: |
        Create a new circuit (permission-based data repository).

        **What it does:**
        - Creates a new multi-tenant data isolation boundary
        - Automatically assigns creator as circuit owner
        - Sets up default RBAC permissions
        - Generates unique circuit ID
        - Creates audit trail for circuit creation

        **Required fields:**
        - `name`: Human-readable circuit name (unique within workspace)
        - `circuit_type`: Type of circuit (private, shared, public, enterprise)
        - `visibility`: Circuit visibility (private, restricted, public)
        - `owner_id`: Owner user UUID

        **Optional fields:**
        - `description`: Circuit purpose and context
        - `metadata`: Custom JSON metadata (tags, categories, etc.)
        - `settings`: Circuit-specific configuration

        **RBAC:**
        - User must be workspace owner or admin
        - Creator automatically becomes circuit owner with full permissions
        - Circuit owner can then invite members with specific roles

        **After creation:**
        1. Add members via `POST /api/circuits/{id}/members`
        2. Create items within circuit via `POST /api/items`
        3. Track events via `POST /api/events`

        **Use cases:**
        - New private or shared circuit onboarding
        - Public/enterprise circuit setup
        - Project-specific data isolation

        **Example:**
        ```json
        POST /api/circuits
        {
          "name": "Fazenda São José - Soja 2025",
          "circuit_type": "private",
          "visibility": "private",
          "owner_id": "abc-123-...",
          "description": "Safra de soja 2025 da Fazenda São José",
          "metadata": {
            "crop": "soy",
            "season": "2025",
            "area_hectares": 500
          }
        }
        ```
      operationId: create_circuit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCircuitRequest'
        required: true
      responses:
        '201':
          description: Circuit created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/items:
    get:
      tags:
      - items
      summary: GET /items?dfid=...&value_chain=...
      description: |
        List items (physical/digital assets) with optional filters.

        **What is an Item:**
        An item represents a physical or digital asset in the supply chain, uniquely identified by a DFID.
        Items can be farm products, livestock, equipment, land parcels, or any trackable entity.

        **What it returns:**
        - List of items with DFID, status, metadata
        - Owner and circuit information
        - Current lifecycle stage
        - Relationship graph (parent/child items)
        - Pagination metadata

        **RBAC Requirements:**
        - User must have `read_items` permission in the circuit
        - Only returns items from circuits where user is a member
        - Filters automatically apply circuit boundaries

        **Common filters:**
        - `value_chain`: Filter by value chain (BEEF, SOY, CORN, etc.)
        - `country`: ISO 3166-1 alpha-2 country code (BR, US, etc.)
        - `year`: Item creation year
        - `status`: Item status (pending, active, inactive, archived, local, merged, split)
        - `circuit_id`: Filter by specific circuit
        - `owner_id`: Filter by item owner
        - `limit/offset`: Pagination (default: 50 per page)

        **Use cases:**
        - Dashboard: View all items in a circuit
        - Search: Find items by DFID or metadata
        - Reporting: Filter items by value chain, year, status

        **Example:**
        ```
        GET /api/items?value_chain=BEEF&country=BR&year=2025&status=active&limit=20
        Authorization: Bearer <access_token>
        ```
      operationId: list_items
      parameters:
      - name: value_chain
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: country
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: circuit_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: owner_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: List of items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemsResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - items
      summary: POST /items
      description: |
        Create a new item with automatic DFID generation.

        **What it does:**
        - Generates unique DFID for the item
        - Creates item record in specified circuit
        - If a canonical identifier already exists, enriches the existing item
        - Sets up initial lifecycle stage
        - Creates audit trail entry
        - Validates DFID checksum (BLAKE3)

        **Required fields:**
        - `value_chain`: Value chain code (BEEF, SOY, CORN, etc.)
        - `country`: ISO 3166-1 alpha-2 country code
        - `circuit_id`: Target circuit UUID
        - `metadata`: Item-specific data (weight, breed, location, etc.)
        - `identifiers` (optional): Canonical/contextual identifiers (SISBOV, CPF, chip, etc.)

        **Optional fields:**
        - `parent_dfid`: Parent item DFID (for derived items)
        - `status`: Initial status (default: 'active')
        - `tags`: Searchable tags for categorization

        **DFID Format:**
        Generated DFID follows: `DFID-{VC}-{CC}-{YYYY}-{NNNNNN}-{CS}`
        - Example: `DFID-BEEF-BR-2025-000123-a3f2c1`

        **RBAC Requirements:**
        - User must have `create_items` permission in the circuit
        - Circuit must be active (not archived)
        - Workspace must have available DFID quota

        **After creation:**
        1. System detects events from metadata and records them automatically
        2. Create snapshots via `POST /api/snapshots`
        3. Establish relationships (merge/split operations)

        **Use cases:**
        - Register new farm product (batch of soybeans)
        - Add livestock to tracking system
        - Create land parcel record

        **Example:**
        ```json
        POST /api/items
        {
          "value_chain": "BEEF",
          "country": "BR",
          "circuit_id": "abc-123-...",
          "metadata": {
            "breed": "Nelore",
            "weight_kg": 450,
            "birth_date": "2024-01-15",
            "farm_name": "Fazenda São José"
          },
          "tags": ["cattle", "organic", "2025-batch"]
        }

        Response (when created):
        {
          "item": {
            "id": "item-uuid-...",
            "dfid": "DFID-BEEF-BR-2025-000789-f4e1a2",
            "status": "active"
          },
          "events": [],
          "was_deduplicated": false
        }
        ```
      operationId: create_item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateItemRequest'
        required: true
      responses:
        '200':
          description: Item already existed and was enriched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateItemResponse'
        '201':
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateItemResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dfid/generate:
    post:
      tags:
      - DFID
      summary: Generate DFID
      description: Generate a new DeFarm Identifier
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - value_chain
              - country
              - year
              properties:
                value_chain:
                  type: string
                  example: BEEF
                country:
                  type: string
                  example: BR
                year:
                  type: integer
                  example: 2025
      responses:
        '200':
          description: DFID generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  dfid:
                    type: string
                    example: DFID-BEEF-BR-2025-000123-a3f2c1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dfid/validate:
    post:
      tags:
      - DFID
      summary: Validate DFID
      description: Check if a DFID is valid
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - dfid
              properties:
                dfid:
                  type: string
                  example: DFID-BEEF-BR-2025-000123-a3f2c1
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  dfid:
                    type: string
                  components:
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /swagger-ui:
    get:
      tags:
      - Documentation
      summary: API Documentation UI
      description: Interactive API documentation (Swagger UI)
      responses:
        '200':
          description: Swagger UI HTML
  /api-docs/openapi.json:
    get:
      tags:
      - Documentation
      summary: OpenAPI Specification
      description: Complete OpenAPI 3.0 specification for all endpoints
      responses:
        '200':
          description: OpenAPI JSON
          content:
            application/json:
              schema:
                type: object
  /api/activity/circuit/{circuit_id}:
    get:
      tags:
      - activity
      summary: Get circuit activity feed
      operationId: get_circuit_activity_feed
      parameters:
      - name: circuit_id
        in: path
        description: Circuit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: actor_id
        in: query
        description: Filter by actor
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: resource_type
        in: query
        description: Filter by resource type
        required: false
        schema:
          type: string
          nullable: true
      - name: action
        in: query
        description: Filter by action
        required: false
        schema:
          type: string
          nullable: true
      - name: limit
        in: query
        description: Maximum results
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: offset
        in: query
        description: Results offset
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: Circuit activity feed retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityFeed'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/activity/public:
    get:
      tags:
      - activity
      summary: Get public activity feed
      operationId: get_public_activity_feed
      parameters:
      - name: circuit_id
        in: query
        description: Filter by circuit
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: resource_type
        in: query
        description: Filter by resource type
        required: false
        schema:
          type: string
          nullable: true
      - name: action
        in: query
        description: Filter by action
        required: false
        schema:
          type: string
          nullable: true
      - name: limit
        in: query
        description: Maximum results
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: offset
        in: query
        description: Results offset
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: Public activity feed retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityFeed'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/activity/recent:
    get:
      tags:
      - activity
      summary: Get recent activity cache
      operationId: get_recent_activity
      parameters:
      - name: user_id
        in: query
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: 'Maximum results (default: 10)'
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: Recent activity retrieved
          content:
            application/json:
              schema:
[...]
