openapi: 3.0.3
info:
  title: DeFarm API Gateway
  description: "**Single entry point for all DeFarm services**\n\nThe Gateway provides:\n\
    - JWT-based authentication\n- Request routing to backend services\n- User context\
    \ injection\n- Rate limiting\n\n## Authentication\n\nMost endpoints require a\
    \ JWT token in the Authorization header:\n```\nAuthorization: Bearer <access_token>\n\
    ```\n\n### Getting Started\n\n1. **Register**: POST `/auth/register`\n2. **Login**:\
    \ POST `/auth/login` \u2192 Returns `access_token` and `refresh_token`\n3. **Use\
    \ token**: Add `Authorization: Bearer <access_token>` to all `/api/*` requests\n\
    4. **Refresh**: POST `/auth/refresh` with `refresh_token` when access token expires\n\
    \n### Token Lifetimes\n- **Access Token**: 15 minutes\n- **Refresh Token**: 30\
    \ days\n"
  version: 1.0.0
  contact:
    name: DeFarm Support
    email: support@defarm.com
servers:
- url: http://gateway.defarm.net:8080
  description: Production (Custom Domain)
- url: https://gateway-service-production-f54d.up.railway.app
  description: Production (Railway Domain)
- url: http://localhost:8000
  description: Local development
tags:
- name: Authentication
  description: User registration, login, and token management
- name: Circuits
  description: Multi-tenant data repositories with RBAC
- name: Items
  description: Agricultural items with traceability
- name: Events
  description: Item state changes and lifecycle events
- name: Audit
  description: Immutable audit trails
- name: DFID
  description: DeFarm Identifier generation and validation
- name: Health
  description: Service health checks
- name: items
  description: Item registry CRUD operations and bulk import
- name: workflows
  description: Item merge, split, unmerge, and relationship tracking
- name: circuits
  description: Circuit and member management
- name: events
  description: Event tracking and lifecycle management
- name: audit
  description: Immutable audit logs with hash chain verification
- name: admin
  description: Administrative operations and API key management
- name: webhooks
  description: Webhook subscriptions and delivery tracking
- name: activity
  description: Activity feeds, sessions, and user tracking
- name: snapshots
  description: Point-in-time snapshots with restore capabilities
- name: merkle
  description: Merkle tree construction and cryptographic verification
- name: compliance
  description: Compliance checks proxy endpoints
- name: Circuit Adapters
  description: Manage adapter configurations per circuit (enable/disable auto-publish to Stellar, IPFS, NFT)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from /auth/login
  schemas:
    Error:
      description: Standard error response with error code and message.
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          example: unauthorized
        message:
          type: string
          example: Invalid or expired token
        details:
          type: string
          nullable: true
          description: Optional detailed error context
    WorkspaceInfo:
      type: object
      required:
      - id
      - name
      - slug
      - tier
      - role
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        tier:
          type: string
        role:
          type: string
          enum:
          - viewer
          - editor
          - admin
          - owner
    UserInfo:
      type: object
      required:
      - id
      - email
      - is_admin
      - is_active
      - workspace
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        is_admin:
          type: boolean
          description: Whether user has system-wide admin privileges
          example: false
        is_active:
          type: boolean
          description: Whether user account is active (can login)
          example: true
        workspace:
          $ref: '#/components/schemas/WorkspaceInfo'
    AuthResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
      - user
      properties:
        access_token:
          type: string
          description: JWT access token (expires in 15 minutes)
        refresh_token:
          type: string
          description: JWT refresh token (expires in 30 days)
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Access token lifetime in seconds
          example: 900
        user:
          $ref: '#/components/schemas/UserInfo'
    ActivityFeed:
      description: User activity entry for audit trail and activity feed display.
      type: object
      required:
      - id
      - actor_id
      - action
      - resource_type
      - description
      - is_public
      - created_at
      properties:
        action:
          type: string
        actor_id:
          type: string
          format: uuid
        actor_name:
          type: string
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
          format: uuid
        is_public:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_name:
          type: string
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
    ActivitySummary:
      description: Aggregated summary of activities by type and resource for reporting.
      type: object
      required:
      - id
      - summary_date
      - summary_type
      - action_counts
      - resource_counts
      - created_at
      properties:
        action_counts: {}
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        resource_counts: {}
        summary_date:
          type: string
          format: date
        summary_type:
          type: string
        user_id:
          type: string
          format: uuid
          nullable: true
    AddMemberRequest:
      description: Request payload to add a new member to a circuit. Requires user_id
        and role.
      type: object
      required:
      - user_id
      - role
      properties:
        added_by:
          type: string
          format: uuid
          nullable: true
        permissions:
          nullable: true
        role:
          type: string
          enum:
          - viewer
          - editor
          - admin
          - owner
        user_id:
          type: string
          format: uuid
    ApplyRetentionResponse:
      description: API response confirming retention policy application with affected
        snapshots count.
      type: object
      required:
      - policy_id
      - snapshots_affected
      properties:
        policy_id:
          type: string
          format: uuid
        snapshots_affected:
          type: integer
          format: int64
          minimum: 0
    AuditLog:
      description: Immutable audit log entry with hash chain linkage for tamper-proof
        record keeping.
      type: object
      required:
      - id
      - action
      - resource_type
      - created_at
      properties:
        action:
          type: string
        changes:
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        previous_hash:
          type: string
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
    AuditLogResponse:
      description: API response containing audit log details including actor, action,
        old/new values, and hash chain.
      type: object
      required:
      - id
      - action
      - resource_type
      - created_at
      properties:
        action:
          type: string
        changes:
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        previous_hash:
          type: string
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
    Circuit:
      description: 'Multi-tenant data repository that serves as the primary permission
        boundary in DeFarm.

        Circuits isolate data by organization/workspace and provide RBAC access control
        for items, events, and audit logs.

        '
      type: object
      required:
      - id
      - name
      - circuit_type
      - visibility
      - owner_id
      - status
      - is_archived
      - created_at
      - updated_at
      - is_published
      - discovery_enabled
      - searchable
      - featured
      - view_count
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        created_at:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        discovery_enabled:
          type: boolean
        featured:
          type: boolean
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        is_published:
          type: boolean
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        public_banner_url:
          type: string
          nullable: true
        public_contact_email:
          type: string
          nullable: true
        public_description:
          type: string
          nullable: true
        public_logo_url:
          type: string
          nullable: true
        public_website:
          type: string
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true
        published_by:
          type: string
          format: uuid
          nullable: true
        searchable:
          type: boolean
        settings:
          nullable: true
        slug:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - active
          - inactive
          - archived
        unpublished_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
        view_count:
          type: integer
          format: int64
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
        workspace_id:
          type: string
          format: uuid
          nullable: true
    CircuitMember:
      description: Represents a user's membership in a circuit with role and permissions.
      type: object
      required:
      - id
      - circuit_id
      - user_id
      - role
      - status
      - joined_at
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        custom_permissions:
          nullable: true
        id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        permissions:
          nullable: true
        removed_at:
          type: string
          format: date-time
          nullable: true
        role:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    CircuitMemberResponse:
      description: API response containing circuit member details including user info,
        role, and permissions.
      type: object
      required:
      - circuit_id
      - user_id
      - role
      - joined_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        permissions:
          nullable: true
        role:
          type: string
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    CircuitResponse:
      description: API response containing full circuit details with metadata, members
        count, and permissions.
      type: object
      required:
      - id
      - name
      - circuit_type
      - visibility
      - owner_id
      - status
      - is_archived
      - created_at
      - updated_at
      properties:
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        created_at:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        settings:
          nullable: true
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
    CircuitJoinRequest:
      description: Join request from a user wanting to join a public circuit
      type: object
      required:
      - id
      - circuit_id
      - user_id
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        circuit_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - approved
          - rejected
          description: Request status
        message:
          type: string
          nullable: true
          description: User's message explaining why they want to join
        user_metadata:
          type: object
          nullable: true
          description: Additional user information (company, location, etc.)
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        reviewed_by:
          type: string
          format: uuid
          nullable: true
          description: Admin/owner who reviewed the request
        rejection_reason:
          type: string
          nullable: true
          description: Reason for rejection (if rejected)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateJoinRequestPayload:
      description: Payload to create a join request for a public circuit
      type: object
      properties:
        message:
          type: string
          description: Message explaining why you want to join
          example: Sou produtor de soja em Dourados/MS e gostaria de participar
        user_metadata:
          type: object
          description: Additional information about you
          example:
            company: "Fazenda S\xE3o Jo\xE3o"
            location: Dourados, MS
    ReviewJoinRequestInput:
      description: Payload to approve or reject a join request
      type: object
      required:
      - action
      properties:
        action:
          type: string
          enum:
          - approve
          - reject
          description: Action to take on the request
        role:
          type: string
          description: Role to assign if approving (e.g., "member", "viewer")
          example: member
        rejection_reason:
          type: string
          description: Reason for rejection (required if action is "reject")
          example: Circuit is currently full
    PublicCircuitInfo:
      description: Public information about a circuit for discovery
      type: object
      required:
      - id
      - name
      - circuit_type
      - visibility
      - member_count
      - item_count
      - featured
      - searchable
      - discovery_enabled
      - allow_join_requests
      - created_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        circuit_type:
          type: string
          enum:
          - producer
          - processor
          - distributor
          - marketplace
        visibility:
          type: string
          enum:
          - public
        public_slug:
          type: string
          nullable: true
          description: Human-readable slug for public URL
          example: produtores-soja-sp
        public_banner_url:
          type: string
          nullable: true
          description: Banner image URL
        public_logo_url:
          type: string
          nullable: true
          description: Logo URL
        member_count:
          type: integer
          format: int64
          description: Number of active members
        item_count:
          type: integer
          format: int64
          description: Number of items in circuit
        featured:
          type: boolean
          description: Whether circuit is featured in discovery
        searchable:
          type: boolean
          description: Whether circuit appears in search results
        discovery_enabled:
          type: boolean
          description: Whether circuit is discoverable publicly
        allow_join_requests:
          type: boolean
          description: Whether circuit accepts join requests
        created_at:
          type: string
          format: date-time
    CircuitStats:
      description: Statistics about a circuit's activity and items
      type: object
      required:
      - total_items
      - active_items
      - value_chains
      - countries
      - recent_activity_count
      properties:
        total_items:
          type: integer
          format: int64
        active_items:
          type: integer
          format: int64
        value_chains:
          type: array
          items:
            type: string
          description: List of value chains in this circuit
          example:
          - SOY
          - CORN
        countries:
          type: array
          items:
            type: string
          description: List of countries represented
          example:
          - BR
          - US
        recent_activity_count:
          type: integer
          format: int64
          description: Number of items added in last 7 days
    ItemSummary:
      description: Summary of an item for display in public portfolios
      type: object
      required:
      - id
      - dfid
      - value_chain
      - country
      - year
      - status
      - registered_at
      properties:
        id:
          type: string
          format: uuid
        dfid:
          type: string
          example: DFID-SOY-BR-2025-000123-a3f2c1
        value_chain:
          type: string
        country:
          type: string
        year:
          type: integer
        status:
          type: string
        registered_at:
          type: string
          format: date-time
    PublicCircuitPortfolio:
      description: Public portfolio of a circuit including stats and recent items
      type: object
      required:
      - circuit
      - stats
      - recent_items
      properties:
        circuit:
          $ref: '#/components/schemas/PublicCircuitInfo'
        stats:
          $ref: '#/components/schemas/CircuitStats'
        recent_items:
          type: array
          items:
            $ref: '#/components/schemas/ItemSummary'
          description: Most recent items (up to 10)
    PublicCircuitsResponse:
      description: Response containing list of public circuits with pagination
      type: object
      required:
      - circuits
      - total
      - limit
      - offset
      properties:
        circuits:
          type: array
          items:
            $ref: '#/components/schemas/PublicCircuitInfo'
        total:
          type: integer
          format: int64
          description: Total number of public circuits matching filters
        limit:
          type: integer
          format: int64
          description: Results limit used
        offset:
          type: integer
          format: int64
          description: Results offset used
    ComparisonResponse:
      description: Result of comparing two resources (snapshots, items, etc.).
      type: object
      required:
      - id
      - snapshot_a_id
      - snapshot_b_id
      - comparison_type
      - diff_data
      - created_at
      properties:
        comparison_type:
          type: string
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
        created_at:
          type: string
          format: date-time
        diff_data: {}
        id:
          type: string
          format: uuid
        snapshot_a_id:
          type: string
          format: uuid
        snapshot_b_id:
          type: string
          format: uuid
        summary:
          nullable: true
    CreateActivityInput:
      description: Request payload to create a new activity entry.
      type: object
      required:
      - actor_id
      - action
      - resource_type
      - description
      - is_public
      properties:
        action:
          type: string
        actor_id:
          type: string
          format: uuid
        actor_name:
          type: string
          nullable: true
        circuit_id:
          type: string
          format: uuid
          nullable: true
        description:
          type: string
        is_public:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_name:
          type: string
          nullable: true
        resource_type:
          type: string
    CreateApiKeyRequest:
      description: Request payload to create API key for programmatic access.
      type: object
      required:
      - key_name
      - circuit_id
      properties:
        circuit_id:
          type: string
          format: uuid
          description: Circuit ID this key grants access to
        description:
          type: string
          description: Optional description of key purpose
          nullable: true
        expires_in_days:
          type: integer
          format: int64
          description: 'Number of days until expiration (default: never expires)'
          nullable: true
        key_name:
          type: string
          description: Human-readable name for the API key
    CreateApiKeyResponse:
      description: API response containing new API key (only shown once for security).
      type: object
      required:
      - id
      - key_name
      - circuit_id
      - api_key
      - created_at
      - message
      properties:
        api_key:
          type: string
          description: The actual API key (ONLY shown once!)
        circuit_id:
          type: string
          format: uuid
          description: Circuit this key grants access to
        created_at:
          type: string
          description: Creation timestamp (RFC3339)
        expires_at:
          type: string
          description: Expiration timestamp (RFC3339)
          nullable: true
        id:
          type: string
          format: uuid
          description: Unique identifier for this API key record
        key_name:
          type: string
          description: Name of the API key
        message:
          type: string
          description: Important message about saving the key
    CreatePartnerApiKeyRequest:
      description: Request payload to create a partner API key.
      type: object
      required:
      - key_name
      - circuit_id
      properties:
        key_name:
          type: string
          description: Human-readable name for the API key
        circuit_id:
          type: string
          format: uuid
          description: Circuit ID this key grants access to
        description:
          type: string
          description: Optional description of key purpose
          nullable: true
        expires_in_days:
          type: integer
          format: int64
          description: Number of days until expiration (default 365, max 730)
          nullable: true
    PartnerApiKeyResponse:
      description: Partner API key metadata (key value shown only on creation).
      type: object
      required:
      - id
      - key_name
      - circuit_id
      - is_active
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this API key record
        key_name:
          type: string
          description: Name of the API key
        circuit_id:
          type: string
          format: uuid
          description: Circuit this key grants access to
        api_key:
          type: string
          description: The actual API key (only shown once at creation)
          nullable: true
        description:
          type: string
          description: Description of the key's purpose
          nullable: true
        is_active:
          type: boolean
          description: Whether the key is currently active
        rate_limit_per_minute:
          type: integer
          format: int32
          nullable: true
        rate_limit_per_day:
          type: integer
          format: int32
          nullable: true
        created_at:
          type: string
          description: Creation timestamp (RFC3339)
        last_used_at:
          type: string
          description: Last time this key was used (RFC3339)
          nullable: true
        expires_at:
          type: string
          description: Expiration timestamp (RFC3339)
          nullable: true
    CreatePartnerApiKeyResponse:
      description: API response containing new partner API key.
      type: object
      required:
      - key
      - message
      properties:
        key:
          $ref: '#/components/schemas/PartnerApiKeyResponse'
        message:
          type: string
          description: Important security message
    ApiKeyMetricsResponse:
      description: Usage metrics for an API key.
      type: object
      required:
      - api_key_id
      - requests_total
      - requests_last_24h
      - errors_last_24h
      properties:
        api_key_id:
          type: string
          format: uuid
        requests_total:
          type: integer
          format: int64
        requests_last_24h:
          type: integer
          format: int64
        errors_last_24h:
          type: integer
          format: int64
        last_used_at:
          type: string
          description: Last time this key was used (RFC3339)
          nullable: true
        rate_limit_per_minute:
          type: integer
          format: int32
          nullable: true
        rate_limit_per_day:
          type: integer
          format: int32
          nullable: true
    AdapterStatsResponse:
      description: Adapter service statistics for admin dashboard
      type: object
      required:
      - jobs
      - queue
      - adapters
      - costs
      - rate_limits
      properties:
        jobs:
          type: object
          description: Job processing statistics
          required:
          - completed
          - failed
          - total
          - success_rate
          properties:
            completed:
              type: integer
              format: int64
              description: Total jobs completed successfully
              example: 1234
            failed:
              type: integer
              format: int64
              description: Total jobs that failed
              example: 5
            total:
              type: integer
              format: int64
              description: Total jobs processed
              example: 1239
            success_rate:
              type: number
              format: double
              description: Success rate (0.0 - 1.0)
              example: 0.996
        queue:
          type: object
          description: Queue statistics
          required:
          - depth
          - active_workers
          properties:
            depth:
              type: integer
              format: int64
              description: Current number of jobs in queue
              example: 10
            active_workers:
              type: integer
              format: int64
              description: Number of workers processing jobs
              example: 2
        adapters:
          type: object
          description: Adapter operation statistics
          required:
          - stellar
          - ipfs
          properties:
            stellar:
              type: object
              description: Stellar blockchain adapter stats
              required:
              - success
              - failed
              - total
              - success_rate
              properties:
                success:
                  type: integer
                  format: int64
                  example: 500
                failed:
                  type: integer
                  format: int64
                  example: 3
                total:
                  type: integer
                  format: int64
                  example: 503
                success_rate:
                  type: number
                  format: double
                  example: 0.994
            ipfs:
              type: object
              description: IPFS storage adapter stats
              required:
              - success
              - failed
              - total
              - success_rate
              properties:
                success:
                  type: integer
                  format: int64
                  example: 450
                failed:
                  type: integer
                  format: int64
                  example: 1
                total:
                  type: integer
                  format: int64
                  example: 451
                success_rate:
                  type: number
                  format: double
                  example: 0.998
        costs:
          type: object
          description: Cost tracking
          required:
          - stellar_xlm
          - stellar_usd
          - ipfs_storage_bytes
          - ipfs_storage_gb
          properties:
            stellar_xlm:
              type: number
              format: double
              description: Total Stellar costs in XLM
              example: 0.05
            stellar_usd:
              type: number
              format: double
              description: Total Stellar costs in USD (approximate)
              example: 0.005
            ipfs_storage_bytes:
              type: integer
              format: int64
              description: Total IPFS storage in bytes
              example: 10485760
            ipfs_storage_gb:
              type: number
              format: double
              description: Total IPFS storage in GB
              example: 0.01
        rate_limits:
          type: object
          description: Rate limiting statistics
          required:
          - rejections
          properties:
            rejections:
              type: integer
              format: int64
              description: Total requests rejected due to rate limits
              example: 15
    CreateCanonicalIdentifierRequest:
      description: Request payload to create a canonical identifier type.
      type: object
      required:
      - value_chain
      - identifier_type
      properties:
        value_chain:
          type: string
        identifier_type:
          type: string
    UpdateCanonicalIdentifierRequest:
      description: Request payload to enable or disable a canonical identifier type.
      type: object
      required:
      - is_active
      properties:
        is_active:
          type: boolean
    CanonicalIdentifierResponse:
      description: Canonical identifier type configuration.
      type: object
      required:
      - id
      - value_chain
      - identifier_type
      - is_active
      - created_at
      properties:
        id:
          type: string
          format: uuid
        value_chain:
          type: string
        identifier_type:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
    CreateCircuitRequest:
      description: Request payload to create a new circuit. Requires name, circuit_type,
        and workspace_id.
      type: object
      required:
      - name
      - circuit_type
      - visibility
      - owner_id
      properties:
        circuit_type:
          type: string
          enum:
          - private
          - shared
          - public
          - enterprise
        description:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          nullable: true
        owner_id:
          type: string
          format: uuid
        settings:
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
          enum:
          - private
          - restricted
          - public
    CreateComparisonRequest:
      description: Request payload to create a comparison between two resources.
      type: object
      required:
      - snapshot_b_id
      - comparison_type
      properties:
        comparison_type:
          type: string
          enum:
          - forward
          - backward
          - merge_conflict
          - validation
        snapshot_b_id:
          type: string
          format: uuid
    CreateItemRequest:
      description: 'Request payload to create a new item with automatic DFID generation.


        **Many-to-Many Architecture**: `circuit_id` represents the first circuit to
        add this item (becomes ''owner'').

        Items are global entities identified by DFID and can exist in multiple circuits
        simultaneously.'
      type: object
      required:
      - value_chain
      - country
      - year
      - circuit_id
      properties:
        circuit_id:
          type: string
          format: uuid
          description: First circuit to add this item (will have role='owner')
        country:
          type: string
        ip_address:
          type: string
          nullable: true
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierInput'
          nullable: true
        metadata:
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    IdentifierInput:
      description: Identifier provided by client (canonical or contextual).
      type: object
      required:
      - identifier_type
      - value
      properties:
        identifier_type:
          type: string
        value:
          type: string
        is_canonical:
          type: boolean
          nullable: true
    IdentifierResponse:
      description: Identifier metadata stored for an item.
      type: object
      required:
      - identifier_type
      - value
      - is_canonical
      properties:
        identifier_type:
          type: string
        value:
          type: string
        is_canonical:
          type: boolean
    CreateMerkleTreeRequest:
      description: Request payload to create merkle tree for snapshot verification.
      type: object
      required:
      - tree_type
      - resource_type
      - leaf_data
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        leaf_data:
          type: array
          items: {}
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
    CreateRestorationRequest:
      description: Request payload to restore data from snapshot.
      type: object
      required:
      - restored_by
      - restoration_type
      properties:
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
          enum:
          - full
          - partial
          - merge
          - rollback
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    CreateSnapshotRequest:
      description: Request payload to create a new snapshot. Requires resource_type
        and resource_id.
      type: object
      required:
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    CreateWebhookInput:
      description: Request payload to create a new webhook. Requires URL and event
        types.
      type: object
      required:
      - circuit_id
      - name
      - url
      - events
      - created_by
      properties:
        circuit_id:
          type: string
          format: uuid
        created_by:
          type: string
          format: uuid
        events:
          type: array
          items:
            type: string
        headers:
          nullable: true
        name:
          type: string
        retry_config:
          allOf:
          - $ref: '#/components/schemas/WebhookRetryConfig'
          nullable: true
        secret:
          type: string
          nullable: true
        url:
          type: string
    ErrorResponse:
      description: API error response with detailed error information.
      type: object
      required:
      - error
      - message
      properties:
        details:
          type: string
          nullable: true
        error:
          type: string
        message:
          type: string
    Event:
      description: Represents a lifecycle event for an item (created, updated, transferred,
        certified, etc.).
      type: object
      required:
      - id
      - event_type
      - source_type
      - source_id
      - payload
      - status
      - created_at
      - visibility
      - is_duplicate
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        content_hash:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        encrypted_payload:
          type: string
          format: binary
          nullable: true
        encryption_key_id:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        event_type:
          type: string
        id:
          type: string
          format: uuid
        is_duplicate:
          type: boolean
        item_id:
          type: string
          format: uuid
          nullable: true
        metadata:
          nullable: true
        original_event_id:
          type: string
          format: uuid
          nullable: true
        payload: {}
        processed_at:
          type: string
          format: date-time
          nullable: true
        source_id:
          type: string
          format: uuid
        source_type:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
        visible_to_roles:
          nullable: true
    EventResponse:
      description: API response containing full event details including type, timestamp,
        actor, and metadata.
      type: object
      required:
      - id
      - event_type
      - source_type
      - source_id
      - payload
      - status
      - created_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        event_type:
          type: string
        id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
          nullable: true
        metadata:
          nullable: true
        payload: {}
        processed_at:
          type: string
          format: date-time
          nullable: true
        source_id:
          type: string
          format: uuid
        source_type:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        user_id:
          type: string
          format: uuid
          nullable: true
    GenerateProofRequest:
      description: Request payload to generate cryptographic proof for data.
      type: object
      required:
      - leaf_data
      properties:
        leaf_data: {}
    HashChainVerificationResponse:
      description: Result of audit log hash chain integrity verification.
      type: object
      required:
      - valid
      - logs_checked
      - message
      properties:
        logs_checked:
          type: integer
          minimum: 0
        message:
          type: string
        valid:
          type: boolean
    HealthResponse:
      description: System health status response including component statuses.
      type: object
      required:
      - status
      - database
      - redis
      - timestamp
      properties:
        database:
          $ref: '#/components/schemas/HealthStatus'
        redis:
          $ref: '#/components/schemas/HealthStatus'
        status:
          type: string
        timestamp:
          type: string
    HealthStatus:
      description: Individual component health status (database, redis, etc.).
      type: object
      required:
      - connected
      - latency_ms
      properties:
        connected:
          type: boolean
        latency_ms:
          type: integer
          format: int64
          minimum: 0
    IngestionReceipt:
      description: Receipt returned after ingestion completes
      type: object
      required:
      - receipt_id
      - status
      - processing_time_ms
      - summary
      properties:
        error_message:
          type: string
          description: Error message if status is "failed" or "partial"
          nullable: true
        processing_time_ms:
          type: integer
          format: int64
          description: Processing time in milliseconds
          minimum: 0
        receipt_id:
          type: string
          format: uuid
          description: Unique receipt ID
        status:
          type: string
          description: 'Status: "processing", "completed", "failed", "partial"'
        summary:
          $ref: '#/components/schemas/IngestionSummary'
    IngestionSummary:
      type: object
      description: Statistics for a completed ingestion
      required:
      - rows_total
      - rows_processed
      - rows_failed
      - items_created
      - items_updated
      - events_created
      - identifiers_resolved
      - unclassified_fields
      properties:
        events_created:
          type: integer
          description: Events created
          minimum: 0
        identifiers_resolved:
          type: object
          description: Count of each identifier type resolved
          additionalProperties:
            type: integer
            minimum: 0
        items_created:
          type: integer
          description: New items created
          minimum: 0
        items_updated:
          type: integer
          description: Existing items updated
          minimum: 0
        rows_failed:
          type: integer
          description: Rows that failed
          minimum: 0
        rows_processed:
          type: integer
          description: Rows successfully processed
          minimum: 0
        rows_total:
          type: integer
          description: Total rows in CSV
          minimum: 0
        unclassified_fields:
          type: array
          items:
            type: string
          description: CSV fields that were not recognized
    Item:
      description: 'Represents a physical or digital asset in the supply chain, uniquely
        identified by a DFID.


        **Many-to-Many Architecture**: Items are global entities that can exist in
        multiple circuits.

        Circuit associations are managed via the circuit_items junction table, not
        as properties on the item.'
      type: object
      required:
      - id
      - dfid
      - value_chain
      - country
      - year
      - status
      - registered_at
      - last_updated_at
      - created_at
      - updated_at
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        country:
          type: string
        created_at:
          type: string
          format: date-time
        dfid:
          type: string
        id:
          type: string
          format: uuid
        last_updated_at:
          type: string
          format: date-time
        local_id:
          type: string
          format: uuid
          nullable: true
        merged_into:
          type: string
          nullable: true
        metadata:
          nullable: true
        registered_at:
          type: string
          format: date-time
        split_from:
          type: string
          nullable: true
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    ItemResponse:
      description: 'API response containing full item details including DFID, status,
        metadata, and relationships.


        **Many-to-Many Architecture**: Items are global entities identified by DFID.

        To see which circuits an item belongs to, use the circuits relationship endpoint.'
      type: object
      required:
      - id
      - dfid
      - value_chain
      - country
      - year
      - status
      - registered_at
      - updated_at
      properties:
        country:
          type: string
        dfid:
          type: string
          example: DFID-BEEF-BR-2025-000123-a3f2c1
        id:
          type: string
          format: uuid
        metadata:
          nullable: true
        registered_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
        updated_at:
          type: string
          format: date-time
        value_chain:
          type: string
        year:
          type: integer
          format: int32
    ItemDetailsResponse:
      description: Item details with identifiers and events.
      type: object
      required:
      - item
      - identifiers
      - events
      properties:
        item:
          $ref: '#/components/schemas/ItemResponse'
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierResponse'
        canonical_identifier:
          $ref: '#/components/schemas/IdentifierResponse'
          nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    CreateItemResponse:
      description: Item creation response with identifiers, events, and deduplication
        status.
      type: object
      required:
      - item
      - identifiers
      - events
      - was_deduplicated
      properties:
        item:
          $ref: '#/components/schemas/ItemResponse'
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/IdentifierResponse'
        canonical_identifier:
          $ref: '#/components/schemas/IdentifierResponse'
          nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        was_deduplicated:
          type: boolean
    ListAuditLogsResponse:
      description: Paginated API response containing list of audit logs with hash
        chain integrity.
      type: object
      required:
      - logs
      - count
      properties:
        count:
          type: integer
          minimum: 0
        logs:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResponse'
    ListCircuitsResponse:
      description: Paginated API response containing list of circuits with metadata.
      type: object
      required:
      - circuits
      - count
      properties:
        circuits:
          type: array
          items:
            $ref: '#/components/schemas/CircuitResponse'
        count:
          type: integer
          minimum: 0
    ListEventsResponse:
      description: Paginated API response containing list of lifecycle events with
        filters.
      type: object
      required:
      - events
      - count
      properties:
        count:
          type: integer
          minimum: 0
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventResponse'
    ListItemsResponse:
      description: Paginated API response containing list of items with DFIDs and
        metadata.
      type: object
      required:
      - items
      - count
      properties:
        count:
          type: integer
          minimum: 0
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemResponse'
    ListMembersResponse:
      description: API response containing list of circuit members with roles and
        permissions.
      type: object
      required:
      - members
      - count
      properties:
        count:
          type: integer
          minimum: 0
        members:
          type: array
          items:
            $ref: '#/components/schemas/CircuitMemberResponse'
    ListMerkleTreesResponse:
      description: Paginated API response containing list of merkle trees with root
        hashes.
      type: object
      required:
      - trees
      - count
      properties:
        count:
          type: integer
          minimum: 0
        trees:
          type: array
          items:
            $ref: '#/components/schemas/MerkleTreeResponse'
    ListSnapshotsResponse:
      description: Paginated API response containing list of snapshots with metadata.
      type: object
      required:
      - snapshots
      - count
      properties:
        count:
          type: integer
          minimum: 0
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/SnapshotResponse'
    MergeItemsRequest:
      description: Request payload to merge two items. Requires secondary_dfid and
        merge strategy.
      type: object
      required:
      - secondary_dfid
      - strategy
      properties:
        secondary_dfid:
          type: string
          description: DFID of the secondary item to merge into the primary
        strategy:
          type: string
          description: 'Merge strategy: "append", "keep_first", or "overwrite"'
        user_id:
          type: string
          format: uuid
          description: User performing the merge operation
          nullable: true
    MergeItemsResponse:
      description: API response confirming item merge with primary and secondary DFIDs.
      type: object
      required:
      - merged_item
      - message
      properties:
        merged_item:
          $ref: '#/components/schemas/Item'
        message:
          type: string
          description: Success message
    ItemRelationshipRecord:
      description: Relationship record between two items (merge/split/related).
      type: object
      required:
      - id
      - primary_item_id
      - related_item_id
      - relationship_type
      - created_at
      properties:
        id:
          type: string
          format: uuid
        primary_item_id:
          type: string
          format: uuid
        related_item_id:
          type: string
          format: uuid
        relationship_type:
          type: string
          enum:
          - duplicate
          - derived
          - related
        confidence_score:
          type: number
          format: double
          nullable: true
        created_at:
          type: string
          format: date-time
    MerkleNode:
      description: Node in the merkle tree representing hashed data with left/right
        children.
      type: object
      required:
      - id
      - tree_id
      - node_hash
      - node_type
      - level
      - position
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        data_hash:
          type: string
          nullable: true
        data_reference:
          nullable: true
        id:
          type: string
          format: uuid
        left_child_id:
          type: string
          format: uuid
          nullable: true
        level:
          type: integer
          format: int32
        node_hash:
          type: string
        node_type:
          type: string
        parent_id:
          type: string
          format: uuid
          nullable: true
        position:
          type: integer
          format: int32
        right_child_id:
          type: string
          format: uuid
          nullable: true
        tree_id:
          type: string
          format: uuid
    MerkleProof:
      description: Cryptographic proof path from leaf to root for data verification.
      type: object
      required:
      - id
      - tree_id
      - leaf_hash
      - leaf_data
      - proof_path
      - proof_positions
      - root_hash
      - is_valid
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_data: {}
        leaf_hash:
          type: string
        proof_path: {}
        proof_positions: {}
        root_hash:
          type: string
        tree_id:
          type: string
          format: uuid
        verified_at:
          type: string
          format: date-time
          nullable: true
    MerkleTree:
      description: Cryptographic data structure using BLAKE3 hashing for snapshot
        integrity verification.
      type: object
      required:
      - id
      - tree_type
      - resource_type
      - root_hash
      - height
      - leaf_count
      - hash_algorithm
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash_algorithm:
          type: string
        height:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        leaf_count:
          type: integer
          format: int32
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
        root_hash:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
        updated_at:
          type: string
          format: date-time
    MerkleTreeResponse:
      description: API response containing merkle tree details including root hash
        and leaf count.
      type: object
      required:
      - id
      - tree_type
      - resource_type
      - root_hash
      - height
      - leaf_count
      - hash_algorithm
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        hash_algorithm:
          type: string
        height:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        leaf_count:
          type: integer
          format: int32
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit
          - event
          - item
          - mixed
        root_hash:
          type: string
        snapshot_id:
          type: string
          format: uuid
          nullable: true
        tree_type:
          type: string
          enum:
          - snapshot
          - circuit
          - audit_batch
          - event_batch
          - item_batch
        updated_at:
          type: string
          format: date-time
    MerkleVerification:
      description: Result of verifying data against merkle tree root hash.
      type: object
      required:
      - id
      - tree_id
      - verification_type
      - leaf_hash
      - expected_root
      - actual_root
      - is_valid
      - created_at
      properties:
        actual_root:
          type: string
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        expected_root:
          type: string
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_hash:
          type: string
        proof_id:
          type: string
          format: uuid
          nullable: true
        tree_id:
          type: string
          format: uuid
        verification_time_ms:
          type: integer
          format: int32
          nullable: true
        verification_type:
          type: string
        verified_by:
          type: string
          format: uuid
          nullable: true
    ProofResponse:
      description: Cryptographic proof response for data verification.
      type: object
      required:
      - id
      - tree_id
      - leaf_hash
      - leaf_data
      - proof_path
      - proof_positions
      - root_hash
      - is_valid
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_valid:
          type: boolean
        leaf_data: {}
        leaf_hash:
          type: string
        proof_path: {}
        proof_positions: {}
        root_hash:
          type: string
        tree_id:
          type: string
          format: uuid
        verified_at:
          type: string
          format: date-time
          nullable: true
    RecentActivity:
      description: Recent activity entries for dashboard display.
      type: object
      required:
      - id
      - user_id
      - activity_type
      - activity_count
      - last_activity_at
      - created_at
      properties:
        activity_count:
          type: integer
          format: int32
        activity_type:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        last_activity_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
    RestorationResponse:
      description: Result of data restoration from snapshot or backup.
      type: object
      required:
      - id
      - snapshot_id
      - restored_by
      - restoration_type
      - status
      - created_at
      properties:
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        snapshot_id:
          type: string
          format: uuid
        status:
          type: string
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    CreateRetentionPolicyRequest:
  type: object
  required:
    - circuit_id
    - snapshot_type
    - retention_days
    - auto_archive
  properties:
    circuit_id:
      type: string
      format: uuid
    snapshot_type:
      type: string
    resource_type:
      type: string
      nullable: true
    retention_days:
      type: integer
    max_snapshots:
      type: integer
      nullable: true
    auto_archive:
      type: boolean
    is_active:
      type: boolean
      nullable: true

RetentionPolicyResponse:
      description: API response containing retention policy details and affected snapshots
        count.
      type: object
      required:
      - id
      - snapshot_type
      - retention_days
      - auto_archive
      - is_active
      - created_at
      - updated_at
      properties:
        auto_archive:
          type: boolean
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        max_snapshots:
          type: integer
          format: int32
          nullable: true
        resource_type:
          type: string
          nullable: true
        retention_days:
          type: integer
          format: int32
        snapshot_type:
          type: string
        updated_at:
          type: string
          format: date-time
    Snapshot:
      description: Point-in-time capture of item or circuit state for versioning and
        rollback.
      type: object
      required:
      - id
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      - created_at
      - is_archived
      - checksum
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        checksum:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    SnapshotComparison:
      description: Comparison result between two snapshots showing differences and
        changes.
      type: object
      required:
      - id
      - snapshot_a_id
      - snapshot_b_id
      - comparison_type
      - diff_data
      - created_at
      properties:
        comparison_type:
          type: string
        created_at:
          type: string
          format: date-time
        diff_data: {}
        id:
          type: string
          format: uuid
        snapshot_a_id:
          type: string
          format: uuid
        snapshot_b_id:
          type: string
          format: uuid
        summary:
          nullable: true
    SnapshotResponse:
      description: API response containing snapshot details including data, merkle
        root, and retention policy.
      type: object
      required:
      - id
      - snapshot_type
      - resource_type
      - snapshot_name
      - snapshot_data
      - created_by
      - created_at
      - is_archived
      - checksum
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        checksum:
          type: string
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        is_archived:
          type: boolean
        metadata:
          nullable: true
        resource_id:
          type: string
          format: uuid
          nullable: true
        resource_type:
          type: string
        snapshot_data: {}
        snapshot_name:
          type: string
        snapshot_type:
          type: string
    SnapshotRestoration:
      description: Result of restoring data from a snapshot including affected resources.
      type: object
      required:
      - id
      - snapshot_id
      - restored_by
      - restoration_type
      - status
      - created_at
      properties:
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        id:
          type: string
          format: uuid
        pre_restore_snapshot_id:
          type: string
          format: uuid
          nullable: true
        restoration_type:
          type: string
        restore_metadata:
          nullable: true
        restored_by:
          type: string
          format: uuid
        snapshot_id:
          type: string
          format: uuid
        status:
          type: string
        target_resource_id:
          type: string
          format: uuid
          nullable: true
    SnapshotRetentionPolicy:
      description: Policy defining how long snapshots are retained before automatic
        deletion.
      type: object
      required:
      - id
      - snapshot_type
      - retention_days
      - auto_archive
      - is_active
      - created_at
      - updated_at
      properties:
        auto_archive:
          type: boolean
        circuit_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        max_snapshots:
          type: integer
          format: int32
          nullable: true
        resource_type:
          type: string
          nullable: true
        retention_days:
          type: integer
          format: int32
        snapshot_type:
          type: string
        updated_at:
          type: string
          format: date-time
    SplitItemRequest:
      description: Request payload to split an item into two. Creates new item with
        new DFID.
      type: object
      required:
      - value_chain
      - country
      - year
      - metadata
      properties:
        country:
          type: string
          description: Country code for the new item
        metadata:
          description: Metadata for the new item
        user_id:
          type: string
          format: uuid
          description: User performing the split operation
          nullable: true
        value_chain:
          type: string
          description: Value chain for the new item
        year:
          type: integer
          format: int32
          description: Year for the new item
    SplitItemResponse:
      description: API response containing original DFID and new DFID after split
        operation.
      type: object
      required:
      - source_item
      - new_item
      - message
      properties:
        message:
          type: string
          description: Success message
        new_item:
          $ref: '#/components/schemas/Item'
        source_item:
          $ref: '#/components/schemas/Item'
    TrustLevel:
      type: string
      description: Trust level of the data source for conflict resolution
      enum:
      - SanitaryAgency
      - Certifier
      - Processor
      - Producer
      - Unknown
    UnmergeItemRequest:
      description: Request payload to restore a previously merged item. Reverses merge
        operation.
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          description: User performing the unmerge operation
          nullable: true
    UnmergeItemResponse:
      description: API response confirming unmerge with restored item DFID and status.
      type: object
      required:
      - restored_item
      - message
      properties:
        message:
          type: string
          description: Success message
        restored_item:
          $ref: '#/components/schemas/Item'
    UpdateCircuitRequest:
      description: Request payload to update circuit details. Allows changing name,
        description, metadata, and status.
      type: object
      properties:
        description:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        metadata:
          nullable: true
        name:
          type: string
          nullable: true
        settings:
          nullable: true
        status:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
          nullable: true
        visibility:
          type: string
          nullable: true
    UpdateEventStatusRequest:
      description: Request payload to update event processing status (pending, processing,
        completed, failed).
      type: object
      required:
      - status
      properties:
        error_message:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - processing
          - completed
          - failed
    UpdateItemRequest:
      description: Request payload to update item metadata, tags, and status. DFID
        and circuit_id are immutable.
      type: object
      required:
      - metadata
      properties:
        ip_address:
          type: string
          nullable: true
        metadata: {}
        user_id:
          type: string
          format: uuid
          nullable: true
    UpdateItemStatusRequest:
      description: Request payload to update item lifecycle status (pending, active,
        inactive, archived).
      type: object
      required:
      - status
      properties:
        ip_address:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
          - archived
        user_id:
          type: string
          format: uuid
          nullable: true
    UpdateMemberRequest:
      description: Request payload to update a member's role or custom permissions
        in a circuit.
      type: object
      properties:
        permissions:
          nullable: true
        role:
          type: string
          nullable: true
        updated_by:
          type: string
          format: uuid
          nullable: true
    UpdateRestorationStatusRequest:
      description: Request payload to update restoration operation status.
      type: object
      required:
      - status
      properties:
        error_message:
          type: string
          nullable: true
        status:
          type: string
    UpdateWebhookInput:
      description: Request payload to update webhook configuration including URL,
        events, and retry settings.
      type: object
      properties:
        events:
          type: array
          items:
            type: string
          nullable: true
        headers:
          nullable: true
        is_active:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        retry_config:
          allOf:
          - $ref: '#/components/schemas/WebhookRetryConfig'
          nullable: true
        secret:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    UserSession:
      description: User session information including login time and activity.
      type: object
      required:
      - id
      - user_id
      - started_at
      - last_activity_at
      - is_active
      properties:
        ended_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
        ip_address:
          type: string
          nullable: true
        is_active:
          type: boolean
        last_activity_at:
          type: string
          format: date-time
        session_token:
          type: string
          nullable: true
        started_at:
          type: string
          format: date-time
        user_agent:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
    VerificationHistoryResponse:
      description: History of verification attempts with timestamps and results.
      type: object
      required:
      - verifications
      - count
      properties:
        count:
          type: integer
          minimum: 0
        verifications:
          type: array
          items:
            $ref: '#/components/schemas/MerkleVerification'
    VerificationResponse:
      description: Result of cryptographic verification with validity status.
      type: object
      required:
      - is_valid
      - computed_root
      - expected_root
      properties:
        computed_root:
          type: string
        expected_root:
          type: string
        is_valid:
          type: boolean
    VerifyProofRequest:
      description: Request payload to verify cryptographic proof against data.
      type: object
      required:
      - leaf_hash
      - proof_path
      - proof_positions
      - expected_root
      properties:
        expected_root:
          type: string
        leaf_hash:
          type: string
        proof_path:
          type: array
          items:
            type: string
        proof_positions:
          type: array
          items:
            type: integer
            format: int32
    Webhook:
      description: HTTP callback configuration for receiving real-time event notifications.
      type: object
      required:
      - id
      - circuit_id
      - name
      - url
      - events
      - is_active
      - created_by
      - created_at
      - updated_at
      properties:
        circuit_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
        events: {}
        headers:
          nullable: true
        id:
          type: string
          format: uuid
        is_active:
          type: boolean
        name:
          type: string
        retry_config:
          nullable: true
        secret:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
        url:
          type: string
    WebhookDelivery:
      description: Record of webhook delivery attempt including status, response,
        and retry count.
      type: object
      required:
      - id
      - webhook_id
      - event_id
      - attempt_number
      - status
      - request_body
      - created_at
      properties:
        attempt_number:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
        event_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        next_retry_at:
          type: string
          format: date-time
          nullable: true
        request_body: {}
        request_headers:
          nullable: true
        response_body:
          type: string
          nullable: true
        response_headers:
          nullable: true
        response_status_code:
          type: integer
          format: int32
          nullable: true
        status:
          type: string
        webhook_id:
          type: string
          format: uuid
    WebhookRetryConfig:
      description: Retry configuration for failed webhook deliveries (max attempts,
        backoff strategy).
      type: object
      required:
      - max_retries
      - retry_delay
      properties:
        max_retries:
          type: integer
          format: int32
        retry_delay:
          type: integer
          format: int32
    WebhookStats:
      description: Statistics for webhook deliveries including success rate and failure
        count.
      type: object
      required:
      - webhook_id
      - total_deliveries
      - successful_deliveries
      - failed_deliveries
      - updated_at
      properties:
        average_response_time_ms:
          type: integer
          format: int32
          nullable: true
        failed_deliveries:
          type: integer
          format: int64
        last_delivery_at:
          type: string
          format: date-time
          nullable: true
        last_failure_at:
          type: string
          format: date-time
          nullable: true
        last_success_at:
          type: string
          format: date-time
          nullable: true
        successful_deliveries:
          type: integer
          format: int64
        total_deliveries:
          type: integer
          format: int64
        updated_at:
          type: string
          format: date-time
        webhook_id:
          type: string
          format: uuid

    CircuitAdapter:
      type: object
      description: Circuit adapter configuration
      required:
      - id
      - circuit_id
      - adapter_config_id
      - adapter_name
      - adapter_type
      - is_enabled
      - auto_publish
      - trigger_events
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this circuit adapter configuration
        circuit_id:
          type: string
          format: uuid
          description: ID of the circuit this adapter belongs to
        adapter_config_id:
          type: string
          format: uuid
          description: ID of the adapter configuration being used
        adapter_name:
          type: string
          description: Human-readable adapter name
          example: stellar_mainnet
        adapter_type:
          type: string
          description: Type of adapter
          enum:
          - stellar
          - ipfs
          - nft
          example: stellar
        is_enabled:
          type: boolean
          description: Whether this adapter is enabled for use
          example: true
        auto_publish:
          type: boolean
          description: Whether to automatically publish items when created/updated
          example: true
        trigger_events:
          type: array
          items:
            type: string
          description: Events that trigger auto-publish
          example:
          - item_created
          - item_updated
        rate_limit_per_hour:
          type: integer
          nullable: true
          description: Maximum requests per hour (null = use global default)
          example: 100
        rate_limit_per_day:
          type: integer
          nullable: true
          description: Maximum requests per day (null = use global default)
          example: 1000

    AddCircuitAdapterRequest:
      type: object
      description: Request to add adapter to circuit
      required:
      - adapter_config_id
      properties:
        adapter_config_id:
          type: string
          format: uuid
          description: ID of the adapter configuration to add
        auto_publish:
          type: boolean
          description: Whether to enable automatic publishing on item events
          default: false
          example: true
        trigger_events:
          type: array
          items:
            type: string
          description: Events that trigger auto-publish
          default:
          - item_created
          - item_updated
          example:
          - item_created
          - item_updated
        rate_limit_per_hour:
          type: integer
          nullable: true
          description: Optional custom rate limit per hour
          example: 50
        rate_limit_per_day:
          type: integer
          nullable: true
          description: Optional custom rate limit per day
          example: 500

    UpdateCircuitAdapterRequest:
      type: object
      description: Request to update circuit adapter
      properties:
        is_enabled:
          type: boolean
          description: Enable/disable this adapter completely
          example: true
        auto_publish:
          type: boolean
          description: Enable/disable automatic publishing
          example: false
        trigger_events:
          type: array
          items:
            type: string
          description: Update events that trigger auto-publish
          example:
          - item_created
        rate_limit_per_hour:
          type: integer
          description: Update rate limit per hour
          example: 100
        rate_limit_per_day:
          type: integer
          description: Update rate limit per day
          example: 1000

paths:
  /health:
    get:
      tags:
      - Health
      summary: Gateway health check
      description: Check if the gateway is running
      responses:
        '200':
          description: Gateway is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    example: gateway-service
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
  /auth/register:
    post:
      tags:
      - Authentication
      summary: Register a new user
      description: "Create a new user account in the DeFarm platform.\n\n**What it\
        \ does:**\n- Creates a new user with email/password credentials\n- Automatically\
        \ creates a default workspace for the user\n- Assigns the user as workspace\
        \ owner\n- Generates initial authentication tokens\n\n**Requirements:**\n\
        - Valid email address (must be unique)\n- Strong password (minimum 8 characters)\n\
        - Full name for identification\n\n**Response:**\n- User profile with workspace\
        \ information\n- Access token (JWT, expires in 15 minutes)\n- Refresh token\
        \ (expires in 30 days)\n\n**Use cases:**\n- New farmer/organization onboarding\n\
        - Team member registration\n- API client setup\n\n**Example:**\n```json\n\
        POST /auth/register\n{\n  \"email\": \"farmer@example.com\",\n  \"password\"\
        : \"SecurePass123!\",\n  \"full_name\": \"Jo\xE3o Silva\"\n}\n```\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              - full_name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePassword123!
                full_name:
                  type: string
                  example: John Doe
                name:
                  type: string
                  deprecated: true
                  description: Deprecated alias for full_name
                workspace_slug:
                  type: string
                  nullable: true
                  description: Optional custom workspace slug
                workspace_name:
                  type: string
                  nullable: true
                  description: Optional custom workspace name
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
      - Authentication
      summary: Login with email and password
      description: "Authenticate with email and password to obtain JWT tokens.\n\n\
        **What it does:**\n- Validates credentials against database\n- Generates fresh\
        \ access and refresh tokens\n- Returns user profile and workspace information\n\
        - Tracks login session for activity monitoring\n\n**Token Lifetimes:**\n-\
        \ **Access Token**: 15 minutes (use for API requests)\n- **Refresh Token**:\
        \ 30 days (use to get new access tokens)\n\n**Security:**\n- Passwords are\
        \ hashed with bcrypt\n- Failed login attempts are rate-limited\n- Tokens are\
        \ signed with HS256 (configurable to RS256)\n\n**Response includes:**\n- User\
        \ ID, email, full name, avatar\n- Workspace ID, name, slug, tier, and user's\
        \ role\n- Both access and refresh tokens\n\n**Example:**\n```json\nPOST /auth/login\n\
        {\n  \"email\": \"farmer@example.com\",\n  \"password\": \"SecurePass123!\"\
        \n}\n\nResponse:\n{\n  \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",\n\
        \  \"refresh_token\": \"28214fc8c04cba687dc7...\",\n  \"token_type\": \"Bearer\"\
        ,\n  \"expires_in\": 900,\n  \"user\": {\n    \"id\": \"40a66997-b090-...\"\
        ,\n    \"email\": \"farmer@example.com\",\n    \"workspace\": { ... }\n  }\n\
        }\n```\n\n**Next step:** Add `Authorization: Bearer <access_token>` header\
        \ to all `/api/*` requests\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: SecurePassword123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh access token
      description: "Exchange a refresh token for a new access token.\n\n**When to\
        \ use:**\n- Access token expired (returns 401 Unauthorized)\n- Before token\
        \ expires (proactive refresh)\n- On app startup if refresh token is still\
        \ valid\n\n**How it works:**\n1. Send refresh token in request body\n2. Backend\
        \ validates refresh token signature and expiration\n3. If valid, generates\
        \ new access token (15 min lifetime)\n4. Optionally rotates refresh token\
        \ for enhanced security\n\n**Best practices:**\n- Store refresh token securely\
        \ (httpOnly cookie or encrypted storage)\n- Never send refresh token to third\
        \ parties\n- Refresh proactively before access token expires\n- Handle 401\
        \ errors by attempting refresh before re-login\n\n**Example:**\n```json\n\
        POST /auth/refresh\n{\n  \"refresh_token\": \"28214fc8c04cba687dc778e6d8a1e8e2...\"\
        \n}\n\nResponse:\n{\n  \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",\n\
        \  \"expires_in\": 900\n}\n```\n\n**Error handling:**\n- 401: Refresh token\
        \ expired \u2192 redirect to login\n- 400: Invalid token format \u2192 redirect\
        \ to login\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
      - Authentication
      summary: Logout (revoke refresh token)
      description: 'Invalidate current session and revoke tokens.


        **What it does:**

        - Marks refresh token as revoked in database

        - Ends current user session

        - Tracks logout event in activity log

        - Clears any server-side session data


        **Client responsibilities:**

        - Delete stored tokens from local storage

        - Clear any cached user data

        - Redirect to login page

        - Remove Authorization headers from future requests


        **Security notes:**

        - Access tokens remain valid until expiration (15 min)

        - Refresh token is immediately revoked and cannot be used

        - Use this for explicit user logout or security incidents


        **Example:**

        ```json

        POST /auth/logout

        Authorization: Bearer <access_token>

        ```


        **Response:** 204 No Content (success)

        '
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '204':
          description: Successfully logged out
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/circuits:
    get:
      tags:
      - circuits
      summary: GET /circuits?name=...&owner_id=...
      description: 'List circuits (permission-based data repositories) with optional
        filters.


        **What is a Circuit:**

        A circuit is a multi-tenant data repository that isolates data by organization/workspace.

        It serves as the primary permission boundary in DeFarm''s RBAC system.


        **What it does:**

        - Lists all circuits the authenticated user has access to

        - Supports filtering by owner, organization, type, and status

        - Returns paginated results (limit/offset)

        - Includes circuit metadata, member count, and permissions


        **RBAC Requirements:**

        - User must have `read_circuits` permission in at least one circuit

        - Only returns circuits where user is a member

        - Circuit owners see all fields, members see limited fields


        **Common filters:**

        - `owner_id`: Filter by circuit owner UUID

        - `organization_id`: Filter by organization

        - `circuit_type`: Filter by type (private, shared, public, enterprise)

        - `status`: Filter by status (active, inactive, archived)

        - `limit/offset`: Pagination (default: 50 per page)


        **Use cases:**

        - Dashboard: List user''s accessible circuits

        - Admin panel: Organization-wide circuit management

        - API integration: Discover available data repositories


        **Example:**

        ```

        GET /api/circuits?organization_id=abc123&status=active&limit=20

        Authorization: Bearer <access_token>

        ```

        '
      operationId: list_circuits
      parameters:
      - name: owner_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: organization_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
      - name: circuit_type
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: List of circuits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCircuitsResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - circuits
      summary: POST /circuits
      description: "Create a new circuit (permission-based data repository).\n\n**What\
        \ it does:**\n- Creates a new multi-tenant data isolation boundary\n- Automatically\
        \ assigns creator as circuit owner\n- Sets up default RBAC permissions\n-\
        \ Generates unique circuit ID\n- Creates audit trail for circuit creation\n\
        \n**Required fields:**\n- `name`: Human-readable circuit name (unique within\
        \ workspace)\n- `circuit_type`: Type of circuit (private, shared, public,\
        \ enterprise)\n- `visibility`: Circuit visibility (private, restricted, public)\n\
        - `owner_id`: Owner user UUID\n\n**Optional fields:**\n- `description`: Circuit\
[...]
